@*List Customer*@
<div class="table-responsive" id="">
    <a data-toggle="modal">
        <button onclick="" class="btn btn-primary" id="btnAdd" data-toggle="modal" href="#tblAddCustomer">
            <i class="icon-plus"></i>
            Thêm khách hàng
        </button>
    </a>
    <hr>
    <table id="tblCustomer" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Tên khách hàng</th>
                <th width="20%" class="hidden-640">Người đại diện</th>
                <th width="27%" class="hidden-480">Địa chỉ liên hệ</th>
                <th width="16%">Số điện thoại</th>
                <th width="9%"> </th>
            </tr>
        </thead>
    </table>
</div>

@*Add Customer*@
<div id="tblAddCustomer" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 80%; padding-top: 3.4%; min-width: 600px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thêm Khách Hàng
                </div>
            </div>
            <div class="modal-body no-padding">
                <form id="addCustomerValidateForm">
                    <div class="col-sm-12" style="padding:2% 2% 1% 2%">
                        <div class="col-sm-6" style="padding-right:20px">
                            <div class="form-group row">
                                <label class="col-sm-4">Tên khách hàng:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtName" name="txtName" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Người đại diện:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtRepresent" name="txtRepresent" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ngày sinh:</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control date-picker" id="datePickerBD" type="text" data-date-format="dd/mm/yyyy" readonly="" style="background: none repeat scroll 0 0 #fff !important; width: 100%; cursor: pointer; " />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ngày cấp CMND:</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control date-picker" id="datePickerNC" type="text" data-date-format="dd/mm/yyyy" readonly="" style="background: none repeat scroll 0 0 #fff !important; width: 100%; cursor: pointer; " />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Số tài khoản:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtBankAccount" style="width: 100%" maxlength="20"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Mã số thuế:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtTaxCode" style="width: 100%" maxlength="14"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ðiện thoại di động:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width: 100%">
                                        <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                        <input class="form-control input-mask-phone " type="text" id="txtMobile" name="txtMobile" style="width: 100%" maxlength="20"/>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6" style="padding-left:20px">
                            <div class="form-group row">
                                <label class="col-sm-4">Nhóm khách hàng:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div><select id="selectCustomerGroup" name="selectCustomerGroup" style="width: 100%; cursor: pointer"></select></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Giới tính:</label>
                                <div class="col-sm-8">
                                    <label>
                                        <input type="radio" class="ace" value="Nam" name="sex" id="sexMale">
                                        <span class="lbl"> Nam</span>
                                    </label>
                                    <label style="margin-left:30px">
                                        <input type="radio" class="ace" value="Nữ" name="sex" id="sexFemale">
                                        <span class="lbl"> Nữ</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Số CMND:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtIdentityNum" style="width: 100%" maxlength="12" /></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4">Nơi cấp CMND:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="txtIdentityPlace" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Tên ngân hàng</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtBankBranch" style="width: 100%" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Email:</label>
                                <div class="col-sm-8">
                                    <div><input id="txtEmail" name="txtEmail" type="email" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ðiện thoại cố định:</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width: 100%">
                                        <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                        <input class="form-control input-mask-phone " type="text" id="txtTelephone" name="txtTelephone" style="width: 100%" maxlength="20"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="form-group">
                                <label class="col-sm-2">Địa chỉ:<span style="color: red"> *</span></label>
                                <div class="col-sm-10">
                                    <div><textarea id="txtAddress" name="txtAddress" style="width: 103%; resize: none " maxlength="100"></textarea></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-margin-top"></div>
            <div class="modal-footer no-margin-top">
                <div>
                    <button class="btn btn-warning pull-left" onclick="clearFieldCustomer()" id="" style="width: 125px; margin-left: 5%">
                        <i class="icon-refresh"></i>
                        Làm trống
                    </button>
                    <button class="btn btn-success pull-right" type="button" id="btnAddNewCustomer" onclick="addCustomer()" style="width: 125px; margin-right: 5%">
                        <i class="icon-ok">
                        </i>
                        Thêm mới
                    </button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div>
</div>

@*Customer Detail*@
<div id="tblCustomerDetail" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 80%; padding-top: 3.4%; min-width: 600px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chi Tiết Khách Hàng
                </div>
            </div>

            <div class="modal-body no-padding">
                <form id="updateCustomerValidateForm">
                    <div class="col-sm-12" style="padding: 2% 2% 1% 2%">
                        <div class="col-sm-6" style="padding-right:20px">
                            <div class="form-group row">
                                <label class="col-sm-4">Tên khách hàng:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <input type="text" id="detailCustomerId" style="display: none" />
                                    <div><input type="text" id="detailName" name="txtName" class="editableSelect" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Người đại diện:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="detailRepresent" class="editableSelect" style="width: 100%" maxlength="50"/></div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ngày sinh:</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control date-picker editableSelect" id="detailBirthday" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer;" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ngày cấp CMND:</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control date-picker editableSelect" id="detailIdentityDate" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer;" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Số tài khoản:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="detailBankAccount" class="editableSelect" style="width: 100%" maxlength="20"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Mã số thuế:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="detailTaxCode" class="editableSelect" style="width: 100%" maxlength="14"/></div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ðiện thoại di động:<span style="color: red"> *</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                        <input class="form-control input-mask-phone editableSelect" type="text" id="detailMobile" name="txtMobile" style="width:100%" maxlength="20"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="padding-left:20px">
                            <div class="form-group row">
                                <label class="col-sm-4">Nhóm khách hàng:<span style="color: red"> *</span></label>
                                <div class="col-sm-8 ">
                                    <div><select id="selectedGroup" name="selectCustomerGroup" class="form-control editableSelect" style="width: 100%; cursor: pointer"></select></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Giới tính:</label>
                                <div class="col-sm-8">
                                    <label>
                                        <input type="radio" class="ace editableGender" value="Nam" name="gender" id="genderMale">
                                        <span class="lbl"> Nam</span>
                                    </label>
                                    <label style="margin-left: 21px">
                                        <input type="radio" class="ace editableGender" value="Nữ" name="gender" id="genderFemale">
                                        <span class="lbl"> Nữ</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Số CMND:</label>
                                <div class="col-sm-8">
                                    <input type="text" id="detailIdentityNum" class="editableSelect" style="width: 100%" maxlength="12"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Nơi cấp CMND:</label>
                                <div class="col-sm-8">
                                    <input type="text" id="detailIdentityPlace" class="editableSelect" style="width: 100%" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Tên ngân hàng:</label>
                                <div class="col-sm-8">
                                    <div><input type="text" id="detailBankBranch" class="editableSelect" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Email:</label>
                                <div class="col-sm-8">
                                    <div><input id="detailEmail" class="editableSelect" name="txtEmail" type="email" style="width: 100%" maxlength="50"/></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Ðiện thoại cố định:</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width: 100%">
                                        <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                        <input class="form-control input-mask-phone editableSelect" type="text" id="detailTelephone" name="txtTelephone" maxlength="20"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="form-group">
                                <label class="col-sm-2">Địa chỉ:<span style="color: red"> *</span></label>
                                <div class="col-sm-10">
                                    <div><textarea id="detailAddress" class="form-control editableSelect" name="txtAddress" style="width: 103%; min-width: 526px; resize: none " maxlength="100"></textarea></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-margin-top"></div>
            <div class="modal-footer no-margin-top">
                <button class="btn btn-grey pull-left" type="button" data-dismiss="modal" style="width: 125px; margin-left: 5%">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success pull-right" onclick="updateCustomer()" id="disablebutton" style="width: 125px; margin-right: 5%; display: none">
                    <i class="icon-ok"></i>
                    Lưu chỉnh sửa
                </button>
                <button class="btn btn-primary pull-right" onclick="enablebutton()" id="enablebutton" style="width: 125px; margin-right: 5%">
                    <i class="icon-edit"></i>
                    Chỉnh Sửa
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@*Message box*@
<div id="messageBox" class="" align="center" style="display:none; width: 400px">
    <div style="float:right; padding-right: 15px">
        <a href="#" class="closeDivisor" onclick="closeDivisor('messageBox'); return false;">[x]</a>
    </div>
    <div class="opacity1">
        <p id="messageBoxContent" style="padding-left: 15px"></p>
    </div>
</div>



