<div id="tblAddReward" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 100%; max-width:500px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thêm tiền thưởng
                </div>
            </div>
            <form class="modal-body no-padding" id="addRewardValidateForm">
                <div class="col-sm-12">
                    <div>
                        <br />
                        <div class="form-group" style="margin:0">
                            <label>Tên nhân viên</label><span style="color: red"> *</span>
                            <div>
                                <select id="selectStaffReward" class="form-control editableInput" name="selectStaffReward" style="width: 100%"></select><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày </label><span style="color: red"> *</span>

                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableInput" id="dateStaffReward" name="dateStaffReward" readonly="" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer; background: none repeat scroll 0 0 #fff !important" />
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                            <div id="rewardMonthError" style="display: none">
                                <span style="color: red">Chỉ được chọn tháng hiện tại!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Số tiền</label><span style="color: red"> *</span>
                            <div>
                                @*<input id="txtmoneyReward" class=" form-control" name="txtmoneyReward" maxlength="9" />*@
                                <input type="text" id="txtmoneyReward" class=" form-control" name="txtmoneyReward" maxlength="9" onclick='removeMask("#txtmoneyReward")' onblur='    maskMoney("#txtmoneyReward")' />

                             </div>
                        </div>

                        <div class="form-group">
                            <label>Ghi chú</label><span style="color: red"> *</span>
                            <div>
                                <input id="txtDescription" class=" form-control" name="txtDescription" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-margin-top">
                </div>
            </form>
            <div class="modal-footer no-margin-top">
                <button class="btn  btn-grey pull-left" type="button" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success" type="button" data-bb-handler="confirm" id="btnAddNewCase" onclick="addNewReward()">
                    <i class="icon-ok"></i>
                    Thêm mới
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@*bảng để hiện view và edit*@
<div id="tblUpdateReward" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 100%; max-width:700px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chi tiết tiền thưởng
                </div>
            </div>

            <form class="modal-body no-padding" id="updateRewardValidateForm">
                <div class="col-sm-12">
                    <div>
                        <br />
                        <div class="form-group">
                            <label>Tên nhân viên</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="txtRewardId" style="display: none" />
                                <select id="txtEditName" class="form-control editableInput" name="selectStaffReward" style="width: 100%"></select><br />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ngày ứng</label><span style="color: red"> *</span>
                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableSelect" id="txtEditDate" name="dateStaffReward" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer;" />

                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                            <div id="invalidateMonthErrorEdit" style="display: none">
                                <span style="color: red">Chỉ được chọn tháng hiện tại!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Số tiền</label><span style="color: red"> *</span>
                            <div>
                                @*<input type="text" id="txtEditMoney" class="editableInput form-control" name="txtmoneyReward" />*@
                                <input type="text" id="txtEditMoney" class=" editableInput form-control" name="txtmoneyReward" maxlength="9" onclick='removeMask("#txtEditMoney")' onblur='    maskMoney("#txtEditMoney")' />

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label><span style="color: red"> *</span>
                            <div>
                                <input id="editDescription" class=" editableInput form-control" name="txtDescription" maxlength="50"/>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer no-margin-top">
                </div>
            </form>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-grey pull-left" type="button" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success" onclick="updateReward()" style="display:none" id="disablebuttonReward">
                    <i class="icon-ok"></i>
                    Lưu chỉnh sửa
                </button>
                <button class="btn btn-primary" onclick="enablebuttonReward()" id="enablebuttonReward">
                    <i class="icon-edit"></i>
                    Chỉnh Sửa
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@*List all staffgroup*@
<div class="table-responsive" id="divHidden">
    <a href="#tblAddReward" role="button" class="green" data-toggle="modal">
        <button class="btn btn-primary">
            <i class="icon-plus"></i>
            Thêm Tiền thưởng
        </button>
    </a>
    <hr />
    @*<div class="form-group">
        <label> Hiển thị theo tên nhân viên</label>
        <div>
            <select name="selectTypeService" id="selectRewardView" onchange="getAllRewardByStaffId()" style="width: 30%" class="form-control">
            </select>
        </div>
    </div>*@
    <div style="overflow: auto">
        <div style="float: left" class="form-group">
            <label> Tên nhân viên</label>
            <div>
                <select name="selectTypeService" id="selectRewardView" onchange="getAllRewardByStaffId()" style="width: 100%" class="form-control"></select>
            </div>
        </div>
        <div style="float: left; margin-left: 5%" class="form-group">
            <label>Tháng</label>
            <div>
                <select name="selectTypeService" id="cboMonthReward" onchange="getAllRewardByStaffId()" style="width: 100%" class="form-control"></select>
            </div>
        </div>

        <div style="float: left; margin-left: 5%" class="form-group">
            <label>Năm</label>
            <div>
                <select id="cboYearReward" name="cboYear" onchange="getAllRewardByStaffId()" style="width: 100%; cursor: pointer" class="form-control "></select><br />
            </div>
        </div>
    </div>

    <table id="tblRewardDetail" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th width="25%">Tên Nhân viên</th>
                <th width="15%">Ngày thưởng</th>
                <th width="15%">Số tiền</th>
                <th width="20%">Ghi chú</th>
                <th width="15%"></th>
            </tr>
        </thead>
    </table>
</div>
