<div class="widget-box transparent">
    <div class="widget-header">
        <div class="widget-toolbar no-border">
            <ul class="nav nav-tabs">
                <li id="12monthLi" class="active">
                    <a onclick='showTabEvent("12month")' href="#" style="font-weight:bold">Trong 12 tháng</a>
                </li>
                <li id="lastyearLi" class="">
                    <a onclick='showTabEvent("lastyear")' href="#">Năm ngoái</a>
                </li>
                <li id="yearsLi" class="">
                    <a onclick='showTabEvent("years")' href="#">Các năm</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="widget-body">
        <div class="space-6"></div>
        <div id="tab12MonthDiv">
            <div>
                <span style="font-weight:bold">Chọn văn phòng: </span>
                <select id="selectOffice" name="selectOffice" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="12MonthCaseChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Số hồ sơ tiếp nhận trong 12 tháng gần nhất</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <div style="margin-left: -5%"><canvas id="12MonthCasePieChart" width="800" height="400"></canvas></div>

                <div class="row" style="margin-left: 65%; margin-top: -22%; padding-bottom: 15%;">
                    <span style="background-color: #F38630; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Hồ Chí Minh</span>
                    <span style="background-color: #E0E4CC; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Vĩnh Long</span>
                    <span style="background-color: #69D2E7; display: block; height: 15px; width: 15px; "></span><span>Thừa Phát Lại Vĩnh Long</span>
                </div>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Tỉ trọng hồ sơ tiếp nhận trong 12 tháng gần nhất</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Văn phòng: </span>
                <select id="selectOfficeSS1" name="selectOfficeSS1" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và văn phòng: </span>
                <select id="selectOfficeSS2" name="selectOfficeSS2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="12MonthCaseSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh doanh thu trong 12 tháng gần nhất</span>
            </div>
        </div>
        @*====================================================================================================================*@
        <div id="tabLastYearDiv" style="display: none">
            <div>
                <span style="font-weight:bold">Chọn văn phòng: </span>
                <select id="selectOffice2" name="selectOffice2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="LastYearCaseChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Số hồ sơ tiếp nhận trong năm vừa qua</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <div style="margin-left: -5%"><canvas id="LastYearCasePieChart" width="800" height="400"></canvas></div>

                <div class="row" style="margin-left: 65%; margin-top: -22%; padding-bottom: 15%;">
                    <span style="background-color: #F38630; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Hồ Chí Minh</span>
                    <span style="background-color: #E0E4CC; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Vĩnh Long</span>
                    <span style="background-color: #69D2E7; display: block; height: 15px; width: 15px; "></span><span>Thừa Phát Lại Vĩnh Long</span>
                </div>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Tỉ trọng hồ sơ tiếp nhận trong năm vừa qua</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Văn phòng: </span>
                <select id="selectOfficeSS1LY" name="selectOfficeSS1" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và văn phòng: </span>
                <select id="selectOfficeSS2LY" name="selectOfficeSS2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="LastYearCaseSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh hồ sơ tiếp nhận năm vừa qua</span>
            </div>
        </div>
        @*====================================================================================================================*@
        <div id="tabYearsDiv" style="display: none">
            <div>
                <span style="font-weight:bold">Chọn văn phòng: </span>
                <select id="selectOffice3" name="selectOffice3" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight:bold; margin-left:15px">Từ năm: </span>
                <select id="selectYear" name="selectYear" style="width: 10%; cursor: pointer; margin-left:15px"></select>
                <span id="toLbl" style="font-weight:bold; margin-left:15px; display:none">Đến năm: </span>
                <select id="selectYear2" name="selectYear2" style="width: 10%; cursor: pointer; margin-left:15px; display:none"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="YearsCaseChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Số hồ sơ tiếp nhận qua các năm</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <div style="margin-left: -5%"><canvas id="YearsCasePieChart" width="800" height="400"></canvas></div>

                <div class="row" style="margin-left: 65%; margin-top: -22%; padding-bottom: 15%;">
                    <span style="background-color: #F38630; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Hồ Chí Minh</span>
                    <span style="background-color: #E0E4CC; display: block; height: 15px; width: 15px; "></span><span>Luật Thuận Nguyễn Vĩnh Long</span>
                    <span style="background-color: #69D2E7; display: block; height: 15px; width: 15px; "></span><span>Thừa Phát Lại Vĩnh Long</span>
                </div>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Tỉ trọng hồ sơ tiếp nhận qua các năm</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Văn phòng: </span>
                <select id="selectOfficeSS1Y" name="selectOfficeSS1" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và văn phòng: </span>
                <select id="selectOfficeSS2Y" name="selectOfficeSS2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="YearsCaseSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh hồ sơ tiếp nhận qua các năm</span>
            </div>
        </div>
    </div>
</div>