<div class="widget-box transparent">
    <div class="widget-header">
        <div class="widget-toolbar no-border">
            <ul class="nav nav-tabs">
                <li id="12monthLi" class="active">
                    <a onclick='showTabEvent("12month")' href="#" style="font-weight:bold">Trong 12 tháng</a>
                </li>
                <li id="lastyearLi" class="">
                    <a onclick='showTabEvent("lastyear")' href="#">Năm ngoái</a>
                </li>
                <li id="yearsLi" class="">
                    <a onclick='showTabEvent("years")' href="#">Các năm</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="widget-body">
        <div class="space-6"></div>
        <div id="tab12MonthDiv">
            <div>
                <span style="font-weight:bold; padding-right:15px">Chọn luật sư: </span>
                <select class="chosen-select" name="selectStaff" id="selectStaff" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="12MonthStaffRevenueChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Doanh thu của nhân viên trong 12 tháng gần nhất</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Luật sư: </span>
                <select class="chosen-select" name="selectStaffSS1" id="selectStaffSS1" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và luật sư: </span>
                <select class="chosen-select" name="selectStaffSS2" id="selectStaffSS2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="12MonthStaffRevenueSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh doanh thu trong 12 tháng gần nhất</span>
            </div>
        </div>
        @*====================================================================================================================*@
        <div id="tabLastYearDiv" style="display: none">
            <div>
                <span style="font-weight:bold; padding-right:15px">Chọn luật sư: </span>
                <select class="chosen-select" name="selectStaff2" id="selectStaff2" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="LastYearStaffRevenueChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Doanh thu của nhân viên trong năm vừa qua</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Luật sư: </span>
                <select class="chosen-select" name="selectStaffSS1" id="selectStaffSS1LY" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và luật sư: </span>
                <select class="chosen-select" name="selectStaffSS1" id="selectStaffSS2LY" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="LastYearStaffRevenueSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh doanh thu năm vừa qua</span>
            </div>
        </div>
        @*====================================================================================================================*@
        <div id="tabYearsDiv" style="display: none">
            <div>
                <span style="font-weight:bold; padding-right:15px">Chọn luật sư: </span>
                <select class="chosen-select" name="selectStaff3" id="selectStaff3" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight:bold; margin-left:15px">Từ năm: </span>
                <select id="selectYearStaff" name="selectYearStaff" style="width: 10%; cursor: pointer; margin-left:15px"></select>
                <span id="toLbl" style="font-weight:bold; margin-left:15px; display:none">Đến năm: </span>
                <select id="selectYear2Staff" name="selectYear2Staff" style="width: 10%; cursor: pointer; margin-left:15px; display:none"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="YearsStaffChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">Doanh thu của nhân viên qua các năm</span>
            </div>
            @*----------*@
            <div style="margin-top:10%">
                <span style="font-weight:bold">So sánh: </span>
                <span style="font-weight: bold; color: rgba(220,220,220,1)">Luật sư: </span>
                <select class="chosen-select" name="selectStaffSS1" id="selectStaffSS1Y" style="width: 30%; cursor: pointer; margin-left:15px"></select>
                <span style="font-weight: bold; color: rgba(151,187,205,1)">và luật sư: </span>
                <select class="chosen-select" name="selectStaffSS1" id="selectStaffSS2Y" style="width: 30%; cursor: pointer; margin-left:15px"></select>
            </div>
            <div style="margin-left:13%; margin-top:5%">
                <canvas id="YearsStaffRevenueSSChart" width="800" height="400"></canvas>
            </div>
            <div style="margin-left: 35%">
                <span class="smaller lighter green" style="font-weight: bold">So sánh doanh thu qua các năm</span>
            </div>
        </div>
    </div>
</div>