@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/Chart.js"></script>
<link rel="stylesheet" href="~/Content/css/jquery.gritter.css" />
<link rel="stylesheet" href="~/Content/css/jquery-ui-1.10.3.custom.min.css" />

<link rel="stylesheet" href="~/Content/css/chosen.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/css/ace.min.css" />
<link rel="stylesheet" href="~/Content/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/css/timeline/screen.css" />

<script src="~/Content/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="~/Content/ckfinder/ckfinder.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="~/Content/js/timeliner.min.js" type="text/javascript"></script>
<script src="~/Content/js/bootbox.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTablesStaff.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTables.bootstrapStaff.js" type="text/javascript"></script>

@*<script src="~/Content/js/jquery.dataTablesCustomer.js" type="text/javascript"></script>*@
@*<script src="~/Content/js/jquery.dataTables.bootstrapCustomer.js" type="text/javascript"></script>*@
<script src="~/Content/js/date-time/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.numeric.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.autosize.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.gritter.min.js" type="text/javascript"></script>
<script src="~/Content/js/typeahead-bs2.min.js" type="text/javascript"></script>
<script src="~/Content/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/additional-methods.js"></script>
@section Sidebar
{
    <div class=" sidebar" id="sidebar">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>

        <ul class="nav nav-list">


            <li class="" id="liRevenue" onclick='get12MonthRevenue(officeVal)'>
                <a href="#" onclick="setLiActiveClass('#liRevenue')">
                    <i class="icon-bar-chart"></i>
                    <span class="menu-text"> Doanh thu</span>
                </a>
            </li>

            <li class="" id="liOffice" onclick='get12MonthCase(officeVal)'>
                <a href="#" onclick="setLiActiveClass('#liOffice')">
                    <i class="icon-home"></i>
                    <span class="menu-text"> Văn phòng</span>
                </a>
            </li>

            <li class="" id="liStaff" onclick='get12MonthStaffRevenue(staffVal)'>
                <a href="#" onclick="setLiActiveClass('#liStaff')">
                    <i class="icon-group"></i>
                    <span class="menu-text"> Nhân viên</span>
                </a>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
        </div>

        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        </script>
    </div>
}

@section Breadcrumbs
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>

                <a href="/Home/Index">Trang chủ</a> | Quản lý khách hàng
            </li>

            <li>
                <span id="breadcrumbsMenu" style="font-weight: bold"></span>
            </li>
        </ul><!-- .breadcrumb -->
    </div>
}

<div id="bodyContent"></div>

<div id="bodyChangePass">

</div>

<script type="text/javascript">
    var officeVal = 0;
    var officeVal2 = 0;
    var officeVal3 = 0;
    var officeValSS1 = 0;
    var officeValSS2 = 0;
    var officeValSS1LY = 0;
    var officeValSS2LY = 0;
    var officeValSS1Y = 0;
    var officeValSS2Y = 0;
    var staffVal = 0;
    var staffVal2 = 0;
    var staffVal3 = 0;
    var staffValSS1 = 0;
    var staffValSS2 = 0;
    var staffValSS1LY = 0;
    var staffValSS2LY = 0;
    var staffValSS1Y = 0;
    var staffValSS2Y = 0;
   
    $(document).ready(function ready() {
        setLiActiveClass('#liRevenue');
        renderRevenueHTML();
        loadSelectOffice();
        loadFromYearRevenue();
        get12MonthRevenue('0');

        // bắt sự kiện onchange của combobox sau khi nó dc render
        $("#selectOffice").change(function () {
            var officeId = $('#selectOffice').val();
            officeVal = officeId;
            get12MonthRevenue(officeId);
        });
        $("#selectOffice2").change(function () {
            var officeId = $('#selectOffice2').val();
            officeVal2 = officeId;
            getLastYearRevenue(officeId);
        });
        $("#selectOffice3").change(function () {
            var officeId = $('#selectOffice3').val();
            var from = $('#selectYear').val();
            var to = $('#selectYear2').val();
            officeVal3 = officeId;
            getYearsRevenue(officeId, from, to);
            getYearsRevenuePieChart(officeId, from, to);
            getYearsCase(officeId, from, to);
            getYearsCasePieChart(officeId, from, to);
        });

        $("#selectOfficeSS1").change(function () {
            var officeId1 = $('#selectOfficeSS1').val();
            officeValSS1 = officeId1;
            var officeId2 = $('#selectOfficeSS2').val();
            officeValSS2 = officeId2;
            get12MonthRevenueSS(officeId1, officeId2);
            get12MonthCaseSS(officeId1, officeId2);
        });
        $("#selectOfficeSS2").change(function () {
            var officeId1 = $('#selectOfficeSS1').val();
            officeValSS1 = officeId1;
            var officeId2 = $('#selectOfficeSS2').val();
            officeValSS2 = officeId2;
            get12MonthRevenueSS(officeId1, officeId2);
            get12MonthCaseSS(officeId1, officeId2);
        });
        $("#selectOfficeSS1LY").change(function () {
            var officeId1 = $('#selectOfficeSS1LY').val();
            officeValSS1LY = officeId1;
            var officeId2 = $('#selectOfficeSS2LY').val();
            officeValSS2LY = officeId2;
            getLastYearRevenueSS(officeId1, officeId2);
        });
        $("#selectOfficeSS2LY").change(function () {
            var officeId1 = $('#selectOfficeSS1LY').val();
            officeValSS1LY = officeId1;
            var officeId2 = $('#selectOfficeSS2LY').val();
            officeValSS2LY = officeId2;
            getLastYearRevenueSS(officeId1, officeId2);
        });
        $("#selectOfficeSS1Y").change(function () {
            var officeId1 = $('#selectOfficeSS1Y').val();
            officeValSS1Y = officeId1;
            var officeId2 = $('#selectOfficeSS2Y').val();
            officeValSS2Y = officeId2;
            var from = $('#selectYear').val();
            var to = $('#selectYear2').val();
            getYearsRevenueSS(officeId1, officeId2, from, to);
        });
        $("#selectOfficeSS2Y").change(function () {
            var officeId1 = $('#selectOfficeSS1Y').val();
            officeValSS1Y = officeId1;
            var officeId2 = $('#selectOfficeSS2Y').val();
            officeValSS2Y = officeId2;
            var from = $('#selectYear').val();
            var to = $('#selectYear2').val();
            getYearsRevenueSS(officeId1, officeId2, from, to);
        });

        $("#selectYear").change(function () {
            var officeId = $('#selectOffice3').val();
            var from = $('#selectYear').val();
            officeVal3 = officeId;
            $('#toLbl').show();
            $('#selectYear2').show();
            loadToYearRevenue(from);
        });
        $("#selectYear2").change(function () {
            var officeId = $('#selectOffice3').val();
            var from = $('#selectYear').val();
            var to = $('#selectYear2').val();
            officeVal3 = officeId;
            getYearsRevenue(officeId, from, to);
            getYearsRevenuePieChart(officeId, from, to);
            getYearsCase(officeId, from, to);
            getYearsCasePieChart(officeId, from, to);
        });

        $("#selectStaff").change(function () {
            var staffId = $('#selectStaff').val();
            staffVal = staffId;
            get12MonthStaffRevenue(staffId);
        });
        $("#selectStaff2").change(function () {
            var staffId = $('#selectStaff2').val();
            staffVal2 = staffId;
            getLastYearStaffRevenue(staffId);
        });
        $("#selectStaff3").change(function () {
            var staffId = $('#selectStaff3').val();
            var from = $('#selectYearStaff').val();
            var to = $('#selectYear2Staff').val();
            staffVal3 = staffId;
            getYearsStaffRevenue(staffId, from, to);
        });
        $("#selectYearStaff").change(function () {
            var staffId = $('#selectStaff3').val();
            var from = $('#selectYearStaff').val();
            staffVal3 = staffId;
            $('#toLbl').show();
            $('#selectYear2Staff').show();
            loadToYearRevenue(from);
        });
        $("#selectYear2Staff").change(function () {
            var staffId = $('#selectStaff3').val();
            var from = $('#selectYearStaff').val();
            var to = $('#selectYear2Staff').val();
            staffVal3 = staffId;
            getYearsStaffRevenue(staffId, from, to);
        });

        $("#selectStaff").chosen();
        $("#selectStaff_chosen").css("width", "30%");
    });

    function setLiActiveClass(liId) {
        $('#liRevenue').attr("class", "");
        $('#liOffice').attr("class", "");
        $('#liStaff').attr("class", "");
        $(liId).attr("class", "active");
    }

    function showTabEvent(id) {
        if (id == "12month") {
            $("#12monthLi").find("a").css("font-weight", "bold");
            $("#lastyearLi").find("a").css("font-weight", "");
            $("#yearsLi").find("a").css("font-weight", "");
            $("#12monthLi").attr("class", "active");
            $("#lastyearLi").attr("class", "");
            $("#yearsLi").attr("class", "");
            $("#tab12MonthDiv").show();
            $("#tabLastYearDiv").hide();
            $("#tabYearsDiv").hide();
        } else if (id == "lastyear") {
            $("#12monthLi").find("a").css("font-weight", "");
            $("#lastyearLi").find("a").css("font-weight", "bold");
            $("#yearsLi").find("a").css("font-weight", "");
            $("#12monthLi").attr("class", "");
            $("#lastyearLi").attr("class", "active");
            $("#yearsLi").attr("class", "");
            $("#tab12MonthDiv").hide();
            $("#tabLastYearDiv").show();
            $("#tabYearsDiv").hide();
            getLastYearRevenue(officeVal2);
            getLastYearRevenuePieChart();
            getLastYearCase(officeVal2);
            getLastYearCasePieChart();
            getLastYearStaffRevenue(staffVal2);
        } else if (id == "years") {
            $("#12monthLi").find("a").css("font-weight", "");
            $("#lastyearLi").find("a").css("font-weight", "");
            $("#yearsLi").find("a").css("font-weight", "bold");
            $("#12monthLi").attr("class", "");
            $("#lastyearLi").attr("class", "");
            $("#yearsLi").attr("class", "active");
            $("#tab12MonthDiv").hide();
            $("#tabLastYearDiv").hide();
            $("#tabYearsDiv").show();
        }
    }

    function renderRevenueHTML() {
        $.ajax({
            url: "/Statistic/RenderRevenueHTML",
            type: 'GET',
            async: false,
            success: function (data) {
                document.getElementById("bodyContent").innerHTML = (data.html);//render HTML cua partial view
                get12MonthRevenuePieChart();
                get12MonthRevenueSS(officeId1, officeId2)
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function loadSelectOffice() {
        $.ajax({
            url: "/Office/GetAllOfficeJson",
            type: 'GET',
            async: false,
            success: function (data) {
                if (data != null) {
                    var item = '<option value="0">Tất cả văn phòng</option>';
                    $.each(data, function (index, office) {
                        item += '<option value="' + office.OfficeId + '">' + office.OfficeName + '</option>';
                    });
                    $('#selectOffice').html(item);
                    $('#selectOffice').val(officeVal);
                    $('#selectOffice2').html(item);
                    $('#selectOffice2').val(officeVal2);
                    $('#selectOffice3').html(item);
                    $('#selectOffice3').val(officeVal3);
                    $('#selectOfficeSS1').html(item);
                    $('#selectOfficeSS1').val(officeValSS1);
                    $('#selectOfficeSS2').html(item);
                    $('#selectOfficeSS2').val(officeValSS2);
                    $('#selectOfficeSS1LY').html(item);
                    $('#selectOfficeSS1LY').val(officeValSS1LY);
                    $('#selectOfficeSS2LY').html(item);
                    $('#selectOfficeSS2LY').val(officeValSS2LY);
                    $('#selectOfficeSS1Y').html(item);
                    $('#selectOfficeSS1Y').val(officeValSS1Y);
                    $('#selectOfficeSS2Y').html(item);
                    $('#selectOfficeSS2Y').val(officeValSS2Y);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    //===================================================================================================================================
    function loadFromYearRevenue() {
        $.ajax({
            url: "/Statistic/GetFromYearRevenue",
            type: 'GET',
            async: false,
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYear').html(item);
                    //$('#selectYear').val(officeVal);
                    $('#selectYear2').html(item);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function loadToYearRevenue(year) {
        $.ajax({
            url: "/Statistic/GetToYearRevenue",
            type: 'GET',
            async: false,
            data: { year: year },
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYear2').html(item);
                    //$('#selectYear').val(officeVal);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }
    //--------------------------------------------------------------------------------
    function get12MonthRevenue(officeId) {
        $.ajax({
            url: "/Statistic/Get12MonthRevenue",
            type: 'GET',
            async: false,
            data: { officeId: officeId },
            success: function (out) {
                renderRevenueHTML();
                loadSelectOffice();
                loadFromYearRevenue();
                // bắt sự kiện onchange của combobox sau khi nó dc render
                $("#selectOffice").change(function () {
                    var officeId = $('#selectOffice').val();
                    //alert(officeId);
                    officeVal = officeId;
                    get12MonthRevenue(officeId);
                });
                $("#selectOffice2").change(function () {
                    var officeId = $('#selectOffice2').val();
                    //alert(officeId);
                    officeVal2 = officeId;
                    getLastYearRevenue(officeId);
                });
                $("#selectOffice3").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    officeVal3 = officeId;
                    getYearsRevenue(officeId, from, to);
                });
                
                $("#selectOfficeSS1").change(function () {
                    var officeId1 = $('#selectOfficeSS1').val();
                    officeValSS1 = officeId1;
                    var officeId2 = $('#selectOfficeSS2').val();
                    officeValSS2 = officeId2;
                    get12MonthRevenueSS(officeId1, officeId2);
                });
                $("#selectOfficeSS2").change(function () {
                    var officeId1 = $('#selectOfficeSS1').val();
                    officeValSS1 = officeId1;
                    var officeId2 = $('#selectOfficeSS2').val();
                    officeValSS2 = officeId2;
                    get12MonthRevenueSS(officeId1, officeId2);
                });
                $("#selectOfficeSS1LY").change(function () {
                    var officeId1 = $('#selectOfficeSS1LY').val();
                    officeValSS1LY = officeId1;
                    var officeId2 = $('#selectOfficeSS2LY').val();
                    officeValSS2LY = officeId2;
                    getLastYearRevenueSS(officeId1, officeId2);
                });
                $("#selectOfficeSS2LY").change(function () {
                    var officeId1 = $('#selectOfficeSS1LY').val();
                    officeValSS1LY = officeId1;
                    var officeId2 = $('#selectOfficeSS2LY').val();
                    officeValSS2LY = officeId2;
                    getLastYearRevenueSS(officeId1, officeId2);
                });
                $("#selectOfficeSS1Y").change(function () {
                    var officeId1 = $('#selectOfficeSS1Y').val();
                    officeValSS1Y = officeId1;
                    var officeId2 = $('#selectOfficeSS2Y').val();
                    officeValSS2Y = officeId2;
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    getYearsRevenueSS(officeId1, officeId2, from, to);
                });
                $("#selectOfficeSS2Y").change(function () {
                    var officeId1 = $('#selectOfficeSS1Y').val();
                    officeValSS1Y = officeId1;
                    var officeId2 = $('#selectOfficeSS2Y').val();
                    officeValSS2Y = officeId2;
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    getYearsRevenueSS(officeId1, officeId2, from, to);
                });

                $("#selectYear").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    officeVal3 = officeId;
                    $('#toLbl').show();
                    $('#selectYear2').show();
                    loadToYearRevenue(from);
                });
                $("#selectYear2").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    officeVal3 = officeId;
                    getYearsRevenue(officeId, from, to);
                    getYearsRevenuePieChart(officeId, from, to);
                });

                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#12MonthRevenueChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: [out.chartData.feild12, out.chartData.feild11, out.chartData.feild10, out.chartData.feild9, out.chartData.feild8, out.chartData.feild7, out.chartData.feild6, out.chartData.feild5, out.chartData.feild4, out.chartData.feild3, out.chartData.feild2, out.chartData.feild1]
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
                
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function get12MonthRevenuePieChart() {
        $.ajax({
            url: '/Statistic/Get12MonthRevenuePieChart',
            method: 'GET',
            async: false,
            data: {},
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#12MonthRevenuePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }

    function get12MonthRevenueSS(officeId1, officeId2) {
        $.ajax({
            url: '/Statistic/Get12MonthRevenueSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#12MonthRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //--------------------------------------------------------------------------------
    function getLastYearRevenue(officeId) {
        $.ajax({
            url: '/Statistic/GetLastYearRevenue',
            method: 'GET',
            async: false,
            data: { officeId: officeId },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearRevenueChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                        datasets: [
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                data: [out.chartData.feild1, out.chartData.feild2, out.chartData.feild3, out.chartData.feild4, out.chartData.feild5, out.chartData.feild6, out.chartData.feild7, out.chartData.feild8, out.chartData.feild9, out.chartData.feild12, out.chartData.feild11, out.chartData.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Bar(data);
                };
            }
        });
    }

    function getLastYearRevenuePieChart() {
        $.ajax({
            url: '/Statistic/GetLastYearRevenuePieChart',
            method: 'GET',
            async: false,
            data: {},
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearRevenuePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }

    function getLastYearRevenueSS(officeId1, officeId2) {
        $.ajax({
            url: '/Statistic/GetLastYearRevenueSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //--------------------------------------------------------------------------------
    function getYearsRevenue(officeId, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsRevenue',
            method: 'GET',
            async: false,
            data: { from: from, officeId: officeId, to: to },
            success: function (out) {
                var keys = Object.keys(out);
                var vals = [];
                for (var key in out) {
                    val = out[key];
                    vals.push(val);
                }
                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#YearsRevenueChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: keys,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: vals
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
            }
        });
    }

    function getYearsRevenuePieChart(officeId, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsRevenuePieChart',
            method: 'GET',
            async: false,
            data: { from: from, officeId: officeId, to: to },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#YearsRevenuePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }
    function getYearsRevenueSS(officeId1, officeId2, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsRevenueSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2 , from: from, to: to},
            success: function (out) {
                {
                    var keys = Object.keys(out.chartData1);
                    var vals1 = [];
                    var vals2 = [];
                    for (var key in out.chartData1) {
                        val = out.chartData1[key];
                        vals1.push(val);
                    }
                    for (var key in out.chartData2) {
                        val = out.chartData2[key];
                        vals2.push(val);
                    }
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#YearsRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: keys,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: vals1
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: vals2
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }

    //=====================================================================================================================================
    function renderOfficeHTML() {
        $.ajax({
            url: "/Statistic/RenderOfficeHTML",
            type: 'GET',
            async: false,
            success: function (data) {
                document.getElementById("bodyContent").innerHTML = (data.html);//render HTML cua partial view
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }
    function get12MonthCase(officeId) {
        $.ajax({
            url: "/Statistic/Get12MonthCase",
            type: 'GET',
            async: false,
            data: { officeId: officeId },
            success: function (out) {
                renderOfficeHTML();
                loadSelectOffice();
                loadFromYearCase();
                get12MonthCasePieChart();
                // bắt sự kiện onchange của combobox sau khi nó dc render
                $("#selectOffice").change(function () {
                    var officeId = $('#selectOffice').val();
                    //alert(officeId);
                    officeVal = officeId;
                    get12MonthCase(officeId);
                });
                $("#selectOffice2").change(function () {
                    var officeId = $('#selectOffice2').val();
                    //alert(officeId);
                    officeVal2 = officeId;
                    getLastYearCase(officeId);
                });
                $("#selectOffice3").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    officeVal3 = officeId;
                    getYearsCase(officeId, from, to);
                    getYearsCasePieChart(officeId, from, to);
                });
                $("#selectYear").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    officeVal3 = officeId;
                    $('#toLbl').show();
                    $('#selectYear2').show();
                    loadToYearCase(from);
                });
                $("#selectYear2").change(function () {
                    var officeId = $('#selectOffice3').val();
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    officeVal3 = officeId;
                    getYearsCase(officeId, from, to);
                    getYearsCasePieChart(officeId, from, to);
                });
                $("#selectOfficeSS1").change(function () {
                    var officeId1 = $('#selectOfficeSS1').val();
                    officeValSS1 = officeId1;
                    var officeId2 = $('#selectOfficeSS2').val();
                    officeValSS2 = officeId2;
                    get12MonthCaseSS(officeId1, officeId2);
                });
                $("#selectOfficeSS2").change(function () {
                    var officeId1 = $('#selectOfficeSS1').val();
                    officeValSS1 = officeId1;
                    var officeId2 = $('#selectOfficeSS2').val();
                    officeValSS2 = officeId2;
                    get12MonthCaseSS(officeId1, officeId2);
                });
                $("#selectOfficeSS1LY").change(function () {
                    var officeId1 = $('#selectOfficeSS1LY').val();
                    officeValSS1LY = officeId1;
                    var officeId2 = $('#selectOfficeSS2LY').val();
                    officeValSS2LY = officeId2;
                    getLastYearCaseSS(officeId1, officeId2);
                });
                $("#selectOfficeSS2LY").change(function () {
                    var officeId1 = $('#selectOfficeSS1LY').val();
                    officeValSS1LY = officeId1;
                    var officeId2 = $('#selectOfficeSS2LY').val();
                    officeValSS2LY = officeId2;
                    getLastYearCaseSS(officeId1, officeId2);
                });
                $("#selectOfficeSS1Y").change(function () {
                    var officeId1 = $('#selectOfficeSS1Y').val();
                    officeValSS1Y = officeId1;
                    var officeId2 = $('#selectOfficeSS2Y').val();
                    officeValSS2Y = officeId2;
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    getYearsCaseSS(officeId1, officeId2, from, to);
                });
                $("#selectOfficeSS2Y").change(function () {
                    var officeId1 = $('#selectOfficeSS1Y').val();
                    officeValSS1Y = officeId1;
                    var officeId2 = $('#selectOfficeSS2Y').val();
                    officeValSS2Y = officeId2;
                    var from = $('#selectYear').val();
                    var to = $('#selectYear2').val();
                    getYearsCaseSS(officeId1, officeId2, from, to);
                });


                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#12MonthCaseChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: [out.chartData.feild12, out.chartData.feild11, out.chartData.feild10, out.chartData.feild9, out.chartData.feild8, out.chartData.feild7, out.chartData.feild6, out.chartData.feild5, out.chartData.feild4, out.chartData.feild3, out.chartData.feild2, out.chartData.feild1]
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }
    function get12MonthCasePieChart() {
        $.ajax({
            url: '/Statistic/Get12MonthCasePieChart',
            method: 'GET',
            async: false,
            data: {},
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#12MonthCasePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }

    function get12MonthCaseSS(officeId1, officeId2) {
        $.ajax({
            url: '/Statistic/Get12MonthCaseSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#12MonthCaseSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //--------------------------------------------------------------------------
    function getLastYearCase(officeId) {
        $.ajax({
            url: '/Statistic/GetLastYearCase',
            method: 'GET',
            async: false,
            data: { officeId: officeId },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearCaseChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                        datasets: [
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                data: [out.chartData.feild1, out.chartData.feild2, out.chartData.feild3, out.chartData.feild4, out.chartData.feild5, out.chartData.feild6, out.chartData.feild7, out.chartData.feild8, out.chartData.feild9, out.chartData.feild12, out.chartData.feild11, out.chartData.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Bar(data);
                };
            }
        });
    }
    function getLastYearCasePieChart() {
        $.ajax({
            url: '/Statistic/GetLastYearCasePieChart',
            method: 'GET',
            async: false,
            data: {},
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearCasePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }

    function getLastYearCaseSS(officeId1, officeId2) {
        $.ajax({
            url: '/Statistic/GetLastYearCaseSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearCaseSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //----------------------------------------------------------------------

    function getYearsCase(officeId, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsCase',
            method: 'GET',
            async: false,
            data: { from: from, officeId: officeId, to: to },
            success: function (out) {
                var keys = Object.keys(out);
                var vals = [];
                for (var key in out) {
                    val = out[key];
                    vals.push(val);
                }
                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#YearsCaseChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: keys,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: vals
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
            }
        });
    }
    function getYearsCasePieChart(officeId, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsCasePieChart',
            method: 'GET',
            async: false,
            data: { from: from, officeId: officeId, to: to },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#YearsCasePieChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = [
	                            {
	                                value: out.chartData[1],
	                                color: "#F38630",
	                            },
	                            {
	                                value: out.chartData[2],
	                                color: "#E0E4CC",
	                            },
	                            {
	                                value: out.chartData[3],
	                                color: "#69D2E7",
	                            }
                    ]
                    new Chart(ctx).Pie(data);
                };
            }
        });
    }
    function getYearsCaseSS(officeId1, officeId2, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsCaseSS',
            method: 'GET',
            async: false,
            data: { officeId1: officeId1, officeId2: officeId2, from: from, to: to },
            success: function (out) {
                {
                    var keys = Object.keys(out.chartData1);
                    var vals1 = [];
                    var vals2 = [];
                    for (var key in out.chartData1) {
                        val = out.chartData1[key];
                        vals1.push(val);
                    }
                    for (var key in out.chartData2) {
                        val = out.chartData2[key];
                        vals2.push(val);
                    }
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#YearsCaseSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: keys,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: vals1
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: vals2
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }

    function loadFromYearCase() {
        $.ajax({
            url: "/Statistic/GetFromYearCase",
            type: 'GET',
            async: false,
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYear').html(item);
                    //$('#selectYear').val(officeVal);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function loadToYearCase(year) {
        $.ajax({
            url: "/Statistic/GetToYearCase",
            type: 'GET',
            async: false,
            data: { year: year },
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYear2').html(item);
                    //$('#selectYear').val(officeVal);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    //=======================================================================================================================================
    function renderStaffHTML() {
        $.ajax({
            url: "/Statistic/RenderStaffHTML",
            type: 'GET',
            async: false,
            success: function (data) {
                document.getElementById("bodyContent").innerHTML = (data.html);//render HTML cua partial view
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }
    function get12MonthStaffRevenue(staffId) {
        $.ajax({
            url: "/Statistic/Get12MonthStaffRevenue",
            type: 'GET',
            async: false,
            data: { staffId: staffId },
            success: function (out) {
                renderStaffHTML();
                loadSelectStaff();
                loadFromYearStaffRevenue();
                // bắt sự kiện onchange của combobox sau khi nó dc render
                $("#selectStaff").change(function () {
                    var staffId = $('#selectStaff').val();
                    staffVal = staffId;
                    get12MonthStaffRevenue(staffId);
                });
                $("#selectStaff2").change(function () {
                    var staffId = $('#selectStaff2').val();
                    staffVal2 = staffId;
                    getLastYearStaffRevenue(staffId);
                });
                $("#selectStaff3").change(function () {
                    var staffId = $('#selectStaff3').val();
                    var from = $('#selectYearStaff').val();
                    var to = $('#selectYear2Staff').val();
                    staffVal3 = staffId;
                    getYearsStaffRevenue(staffId, from, to);
                });
                $("#selectYearStaff").change(function () {
                    var staffId = $('#selectStaff3').val();
                    var from = $('#selectYearStaff').val();
                    staffVal3 = staffId;
                    $('#toLbl').show();
                    $('#selectYear2Staff').show();
                    loadToYearStaffRevenue(from);
                });
                $("#selectYear2Staff").change(function () {
                    var staffId = $('#selectStaff3').val();
                    var from = $('#selectYearStaff').val();
                    var to = $('#selectYear2Staff').val();
                    staffVal3 = staffId;
                    getYearsStaffRevenue(staffId, from, to);
                });

                $("#selectStaffSS1").change(function () {
                    var staffId1 = $('#selectStaffSS1').val();
                    staffValSS1 = staffId1;
                    var staffId2 = $('#selectStaffSS2').val();
                    staffValSS2 = staffId2;
                    get12MonthStaffRevenueSS(staffId1, staffId2);
                });
                $("#selectStaffSS2").change(function () {
                    var staffId1 = $('#selectStaffSS1').val();
                    staffValSS1 = staffId1;
                    var staffId2 = $('#selectStaffSS2').val();
                    staffValSS2 = staffId2;
                    get12MonthStaffRevenueSS(staffId1, staffId2);
                });
                $("#selectStaffSS1LY").change(function () {
                    var staffId1 = $('#selectStaffSS1LY').val();
                    staffValSS1LY = staffId1;
                    var staffId2 = $('#selectStaffSS2LY').val();
                    staffValSS2LY = staffId2;
                    getLastYearStaffRevenueSS(staffId1, staffId2);
                });
                $("#selectStaffSS2LY").change(function () {
                    var staffId1 = $('#selectStaffSS1LY').val();
                    staffValSS1LY = staffId1;
                    var staffId2 = $('#selectStaffSS2LY').val();
                    staffValSS2LY = staffId2;
                    getLastYearStaffRevenueSS(staffId1, staffId2);
                });
                $("#selectStaffSS1Y").change(function () {
                    var staffId1 = $('#selectStaffSS1Y').val();
                    staffValSS1Y = staffId1;
                    var staffId2 = $('#selectStaffSS2Y').val();
                    staffValSS2Y = staffId2;
                    var from = $('#selectYearStaff').val();
                    var to = $('#selectYear2Staff').val();
                    getYearsStaffRevenueSS(staffId1, staffId2, from, to);
                });
                $("#selectStaffSS2Y").change(function () {
                    var staffId1 = $('#selectStaffSS1Y').val();
                    staffValSS1Y = staffId1;
                    var staffId2 = $('#selectStaffSS2Y').val();
                    staffValSS2Y = staffId2;
                    var from = $('#selectYearStaff').val();
                    var to = $('#selectYear2Staff').val();
                    getYearsStaffRevenueSS(staffId1, staffId2, from, to);
                });
                $("#selectStaff").chosen();
                $("#selectStaff_chosen").css("width", "30%");
                $("#selectStaff2").chosen();
                $("#selectStaff2_chosen").css("width", "30%");
                $("#selectStaff3").chosen();
                $("#selectStaff3_chosen").css("width", "30%");

                $("#selectStaffSS1").chosen();
                $("#selectStaffSS1_chosen").css("width", "30%");
                $("#selectStaffSS2").chosen();
                $("#selectStaffSS2_chosen").css("width", "30%");
                $("#selectStaffSS1LY").chosen();
                $("#selectStaffSS1LY_chosen").css("width", "30%");
                $("#selectStaffSS2LY").chosen();
                $("#selectStaffSS2LY_chosen").css("width", "30%");
                $("#selectStaffSS1Y").chosen();
                $("#selectStaffSS1Y_chosen").css("width", "30%");
                $("#selectStaffSS2Y").chosen();
                $("#selectStaffSS2Y_chosen").css("width", "30%");

                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#12MonthStaffRevenueChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: [out.chartData.feild12, out.chartData.feild11, out.chartData.feild10, out.chartData.feild9, out.chartData.feild8, out.chartData.feild7, out.chartData.feild6, out.chartData.feild5, out.chartData.feild4, out.chartData.feild3, out.chartData.feild2, out.chartData.feild1]
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }
    function get12MonthStaffRevenueSS(staffId1, staffId2) {
        $.ajax({
            url: '/Statistic/Get12MonthStaffSS',
            method: 'GET',
            async: false,
            data: { staffId1: staffId1, staffId2: staffId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#12MonthStaffRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //------------------------------------------------------------------
    function getLastYearStaffRevenue(staffId) {
        $.ajax({
            url: '/Statistic/GetLastYearStaffRevenue',
            method: 'GET',
            async: false,
            data: { staffId: staffId },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearStaffRevenueChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                        datasets: [
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                data: [out.chartData.feild1, out.chartData.feild2, out.chartData.feild3, out.chartData.feild4, out.chartData.feild5, out.chartData.feild6, out.chartData.feild7, out.chartData.feild8, out.chartData.feild9, out.chartData.feild12, out.chartData.feild11, out.chartData.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Bar(data);
                };
            }
        });
    }
    function getLastYearStaffRevenueSS(staffId1, staffId2) {
        $.ajax({
            url: '/Statistic/GetLastYearStaffSS',
            method: 'GET',
            async: false,
            data: { staffId1: staffId1, staffId2: staffId2 },
            success: function (out) {
                {
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#LastYearStaffRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: ["12 Tháng Trước", "11 Tháng Trước", "10 Tháng Trước", "9 Tháng Trước", "8 Tháng Trước", "7 Tháng Trước", "6 Tháng Trước", "5 Tháng Trước", "4 Tháng Trước", "3 Tháng Trước", "2 Tháng Trước", "Tháng Trước"],
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData1.feild1, out.chartData1.feild2, out.chartData1.feild3, out.chartData1.feild4, out.chartData1.feild5, out.chartData1.feild6, out.chartData1.feild7, out.chartData1.feild8, out.chartData1.feild9, out.chartData1.feild10, out.chartData1.feild11, out.chartData1.feild12]
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: [out.chartData2.feild1, out.chartData2.feild2, out.chartData2.feild3, out.chartData2.feild4, out.chartData2.feild5, out.chartData2.feild6, out.chartData2.feild7, out.chartData2.feild8, out.chartData2.feild9, out.chartData2.feild10, out.chartData2.feild11, out.chartData2.feild12]
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    //--------------------------------------------------------
    function getYearsStaffRevenue(staffId, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsStaffRevenue',
            method: 'GET',
            async: false,
            data: { from: from, staffId: staffId, to: to },
            success: function (out) {
                var keys = Object.keys(out);
                var vals = [];
                for (var key in out) {
                    val = out[key];
                    vals.push(val);
                }
                //Get context with jQuery - using jQuery's .get() method.
                var ctx = $("#YearsStaffChart").get(0).getContext("2d");
                //This will get the first returned node in the jQuery collection.
                var myNewChart = new Chart(ctx);

                var data = {
                    labels: keys,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: vals
                        }
                    ]
                }
                new Chart(ctx).Bar(data);
            }
        });
    }
    function getYearsStaffRevenueSS(staffId1, staffId2, from, to) {
        $.ajax({
            url: '/Statistic/GetYearsStaffRevenueSS',
            method: 'GET',
            async: false,
            data: { staffId1: staffId1, staffId2: staffId2, from: from, to: to },
            success: function (out) {
                {
                    var keys = Object.keys(out.chartData1);
                    var vals1 = [];
                    var vals2 = [];
                    for (var key in out.chartData1) {
                        val = out.chartData1[key];
                        vals1.push(val);
                    }
                    for (var key in out.chartData2) {
                        val = out.chartData2[key];
                        vals2.push(val);
                    }
                    //Get context with jQuery - using jQuery's .get() method.
                    var ctx = $("#YearsStaffRevenueSSChart").get(0).getContext("2d");
                    //This will get the first returned node in the jQuery collection.
                    var myNewChart = new Chart(ctx);

                    var data = {
                        labels: keys,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: vals1
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: vals2
                            }
                        ]
                    }
                    new Chart(ctx).Line(data);
                };
            }
        });
    }
    function loadFromYearStaffRevenue() {
        $.ajax({
            url: "/Statistic/GetFromYearStaffRevenue",
            type: 'GET',
            async: false,
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYearStaff').html(item);
                    //$('#selectYear').val(staffVal);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function loadToYearStaffRevenue(year) {
        $.ajax({
            url: "/Statistic/GetToYearStaffRevenue",
            type: 'GET',
            async: false,
            data: { year: year },
            success: function (data) {
                if (data.year != null) {
                    var item = '<option value="0">---</option>';
                    var keys = Object.keys(data.year);
                    for (var key in data.year) {
                        item += '<option value="' + data.year[key] + '">' + data.year[key] + '</option>';
                    }
                    $('#selectYear2Staff').html(item);
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function loadSelectStaff() {
        $.ajax({
            url: "/Statistic/GetAllSelectStaff",
            type: 'GET',
            async: false,
            success: function (data) {
                if (data.staff != null) {
                    var item = "";//<option value=''" + ">&nbsp</option>
                    $.each(data.staff, function (index, staff) {
                        item += '<option value="' + staff.StaffId + '">' + staff.StaffName + " (" + staff.Accounts[0].Username + ')</option>';
                    });
                    $("#selectStaff").html(item);
                    $("#selectStaff").val(staffVal);
                    $("#selectStaff").trigger("chosen:updated");
                    $("#selectStaff2").html(item);
                    $("#selectStaff2").val(staffVal2);
                    $("#selectStaff2").trigger("chosen:updated");
                    $("#selectStaff3").html(item);
                    $("#selectStaff3").val(staffVal3);
                    $("#selectStaff3").trigger("chosen:updated");

                    $("#selectStaffSS1").html(item);
                    $("#selectStaffSS1").val(staffValSS1);
                    $("#selectStaffSS1").trigger("chosen:updated");
                    $("#selectStaffSS2").html(item);
                    $("#selectStaffSS2").val(staffValSS2);
                    $("#selectStaffSS2").trigger("chosen:updated");
                    $("#selectStaffSS1LY").html(item);
                    $("#selectStaffSS1LY").val(staffValSS1LY);
                    $("#selectStaffSS1LY").trigger("chosen:updated");
                    $("#selectStaffSS2LY").html(item);
                    $("#selectStaffSS2LY").val(staffValSS2LY);
                    $("#selectStaffSS2LY").trigger("chosen:updated");
                    $("#selectStaffSS1Y").html(item);
                    $("#selectStaffSS1Y").val(staffValSS1Y);
                    $("#selectStaffSS1Y").trigger("chosen:updated");
                    $("#selectStaffSS2Y").html(item);
                    $("#selectStaffSS2Y").val(staffValSS2Y);
                    $("#selectStaffSS2Y").trigger("chosen:updated");
                }
            },
            error: function (errMsg) {
                alert(errMsg.responseText);
            }
        });
    }

    function exportExcel() {
        $.post("/Statistic/ExportExcel", {}, function (result) {
            if (result == "Successful") {
                notification("Xuất file Excel thành công !", "", 2000, "btn-primary center");
            } else if (result == 'Error') {
                notification("Xuất file Excel thất bại!", "Không có dữ liệu để xuất ra file, hãy chọn tháng khác!.", 3000, "gritter-error center");
            }
        }).error(function () {
            $('.close').click();
            notification("Xuất file Excel thất bại", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
        });
    }
</script>