<div>
    <div id="staffId" value="@Session["staffId"].ToString()"></div>

    <div class="table-responsive" id="divHidden">

        <a data-toggle="modal" href="#tblAddStaff">
            <button class="btn btn-primary" id="btnAdd">
                <i class="icon-plus"></i>
                Thêm nhân viên
            </button>
        </a>

        <hr />
     
        <table id="tblStaffDetail" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th width="16%">Tên nhân viên</th>
                    <th width="14%" class="hidden-640">Chức vụ</th>
                    <th width="20%" class="hidden-640">Địa chỉ liên hệ</th>
                    <th width="10%">Địện thoại</th>
                    <th width="10%" class="hidden-640">Vai trò</th>
                    <th width="10%">Trạng thái</th>
                 
                        <th width="10%"></th>
                  
         
                </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        @*bảng thêm nhân viên*@
        <div id="tblAddStaff" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 100%; max-width:1000px">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            Thêm nhân viên
                        </div>
                    </div>
                    <form class="modal-body no-padding" id="addStaffValidateForm">
                        <div class="col-sm-3">
                            <div class="space"></div>
                            @*thẻ này để hiển thị ảnh*@
                            <div class="form-group">
                                <center>
                                    <span class="profile-picture" style="width: 91%">
                                        <img id="avartarImg" src="/Content/avatars/no-avatar.png" style="max-width: 190px; max-height: 190px; cursor: pointer" onclick="popupuploadimage()" />
                                        <input id="inputImg" type="text" style="width: 100%;display:none" />
                                    </span>

                                </center>
                            </div>
                            <div class="form-group">
                                <label>Tên nhân viên</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="txtStaffName" name="txtStaffName" maxlength="50" style="width: 100%" /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Tên đăng nhập</label><span style="color: red"> *</span>
                                    <div>
                                        <input type="text" id="txtUsername" name="txtUsername" maxlength="50"  style="width: 100%" /><br />
                                    </div>
                                    <div id="existUserNameError" style="display: none">
                                        <span style="color: red">Tên đăng nhập nhân viên đã tồn tại!</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Chức vụ</label>
                                <div>
                                    <input type="text" id="txtStaffPosition" maxlength="50"  style="width: 100%" /><br />
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Giới tính:</label>
                                <div class="form-group">
                                    <label class="blue">
                                        <input type="radio" class="ace" value="Nam" name="sex" id="sexMale">
                                        <span class="lbl"> Nam</span>
                                    </label>
                                    <label class="blue" style="margin-left: 20px">
                                        <input type="radio" class="ace" value="Nữ" name="sex" id="sexFemale">
                                        <span class="lbl"> Nữ</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Số người phụ thuộc:</label>
                                <div>
                                    <input type="text" id="txtAppendantPeople" name="txtAppendantPeople" maxlength="2" style="width: 100%" /><br />
                                </div>
                            </div>
                           

                        </div>

                        <div class="col-sm-5">
                            <div class="space"></div>
                            <div class="form-group" style="margin:0">
                                <label>Nhóm nhân viên</label><span style="color: red"> *</span>
                                <div>
                                    <select id="selectStaffGroup" name="selectStaffGroup" style="width: 100%; cursor: pointer"></select><br />
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Ngày sinh</label><span style="color: red"> *</span>

                                <div class="input-group input-group-sm">
                                    <input class="form-control date-picker" id="txtStaffDayofbith" name="txtStaffDayofbith" readonly=""  type="text"  data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer; background: none repeat scroll 0 0 #fff !important " />
                                    <span class="input-group-addon">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nơi sinh</label>
                                <input type="text" id="txtStaffPlacebirth" maxlength="100" style="width: 100%" /><br />
                            </div>
                            <div class="form-group">
                                <label>Điện thoại di động</label><span style="color: red"> *</span>
                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                    <input class="form-control input-mask-phone " type="text" id="txtStaffPhone" maxlength="20" name="txtStaffPhone" style="width: 100%" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Điện thoại nhà riêng</label>
                                <input type="text" id="txtStaffHome" style="width: 100%" maxlength="20" /><br />
                            </div>
                            <div class="form-group">
                                <label>Email</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="txtStaffEmail" name="email" maxlength="50" style="width: 100%" /><br />
                                </div>
                            </div>
                           
                                <div class="form-group">
                                    <label>Địa chỉ liên hệ</label><span style="color: red"> *</span>
                                    <div>
                                        <input type="text" id="txtStaffAdd" maxlength="100" name="txtStaffAdd" style="width: 100%" />
                                    </div>
                                </div>
                          
                            <div class="form-group" id="officeNewDiv">
                                <label>Thuộc văn phòng</label><span style="color: red"> *</span>
                                <div>
                                    <select class="chosen-select" name="cboOffice" id="cboOffice" style="cursor: pointer" multiple="">
                                        <option value=""></option>
                                    </select>
                                </div>
                                </div>
                            
                            </div>
                        <div class="col-sm-4">
                            <div class="space"></div>
                            <div class="form-group" style="margin:0">
                                <label>Vai trò nhân viên</label><span style="color: red"> *</span>
                                <div>
                                    <select id="selectStaffRole" name="selectStaffRole" style="width: 100%; cursor: pointer"></select><br />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>CMND</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="txtStaffIdenNum" name="txtStaffIdenNum" maxlength="12" style="width: 100%" /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày Cấp CMND</label><span style="color: red"> *</span>
                                <div class="input-group input-group-sm">
                                    <input class="form-control date-picker " readonly="" id="txtStaffIdenDay" name="txtStaffIdenDay" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer; background: none repeat scroll 0 0 #fff !important; " /><br />
                                    <span class="input-group-addon">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nơi cấp CMND</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="txtStaffIdenPlace" maxlength="50" name="txtStaffIdenPlace" style="width: 100%" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mã số thuế</label>
                                <input type="text" id="txtStaffTax" maxlength="14"  style="width: 100%" />
                            </div>
                            <div class="form-group">
                                <label>Số tài khoản</label>
                                <input type="text" id="txtStaffBankNum" maxlength="20" style="width: 100%" />
                            </div>
                            <div class="form-group">
                                <label>Chi nhánh NH</label>
                                <input type="text" id="txtStaffBankBranch" maxlength="50"  style="width: 100%" /><br />
                            </div>
                        </div>

                        <div class="modal-footer no-margin-top">
                        </div>
                    </form>
                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-warning pull-left" onclick="clearField1()" id="btnCloseAdd" style="width: 125px">
                            <i class="icon-refresh"></i>
                            Làm trống
                        </button>
                        <button class="btn btn-success" type="button" data-bb-handler="confirm" id="btnAddNewCase" onclick="addStaff()">
                            <i class="icon-ok"></i>
                            Thêm mới
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
    <div id="tblUpdateStaff" class="modal fade" tabindex="-1">
        <div class="modal-dialog" style="width: 90%; max-width:1000px">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>
                        Chi tiết nhân viên
                    </div>
                </div>
                @*updateStaffValidateForm*@
                <form class="modal-body no-padding" id="updateStaffValidateForm">
                    <div class="col-sm-3">
                        <div class="space"></div>
                        <div class="form-group">
                            <center>
                                <span class="profile-picture" style="width: 91%">
                                    <img id="avartarImg1" src="" style="max-width: 190px; max-height: 190px; cursor: pointer" onclick="popupuploadimage1()" />
                                    <input id="inputImg1" type="text" style="display:none" />
                                </span>
                            </center>
                        </div>
                        <div class="form-group">
                            <label>Tên nhân viên</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="detailStaffId" style="display: none" />
                                <input type="text" id="detailStaffName" name="txtStaffName" maxlength="50"  style="width: 100%" class="editableInput" disabled /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Tên đăng nhập</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="detailUsername" name="txtUsername" maxlength="50" style="width: 100%" class="" disabled /><br />
                                </div>
                                <div id="existUserNameError1" style="display: none">
                                    <span style="color: #D16E6C">Tên đăng nhập đã tồn tại!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Chức vụ</label>
                            <input type="text" id="detailStaffPosition" maxlength="50"  style="width: 100%" class="editableInput" disabled /><br />
                        </div>
                        <div class="form-group">
                            <label>Giới tính:</label>
                            <div class="form-group">
                                <label class="blue">
                                    <input type="radio" class="ace" value="Nam" name="sex" id="genderMale">
                                    <span class="lbl"> Nam</span>
                                </label>
                                <label class="blue" style="margin-left: 20px">
                                    <input type="radio" class="ace" value="Nữ" name="sex" id="genderFemale">
                                    <span class="lbl"> Nữ</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số người phụ thuộc:</label>
                            <input type="text" id="detailAppendantPeople" maxlength="2" name="txtAppendantPeople" style="width: 100%" class="editableInput" disabled /><br />
                        </div>

                        @if (@Session["staffId"].ToString()== "1") {
                        <div class="form-group">
                            <i class="icon-hand-right green" ></i>
                            <a href="#" style="" onclick="resetPassword()" > Đặt lại mật khẩu</a>
                        </div>
                        }
                       
                            <div class="form-group" id="inActiveStaffDiv">
                                <i class="icon-hand-right green"></i>
                                <a href="#" style="" id="activeStaff" onclick="SetStatusStaff()"> </a>
                            </div>
                        @*<div class="form-group">
                            <i class="icon-hand-right green"></i>
                            <a href="#" style="color:red " id="deleteIdBtn" onclick="deleteStaff()"> Ngừng hoạt động</a>
                            </div>
                        <div class="form-group">
                            <i class="icon-hand-right green"></i>
                            <a href="#" style="color:blue" id="activeIdBtn" onclick="activeStaff()"> Hoạt động lại</a>
                        </div>*@

                    </div>
                    <div class="col-sm-5">
                        <div class="space"></div>
                        <div class="form-group" style="margin:0">
                            <label>Nhóm nhân viên</label><span style="color: red"> *</span>
                            <div>
                                @*<input id="detailStaffGroup" type="text" style="width: 100%" class="editableInput" disabled />*@
                                <select id="selectGroup" class="form-control editableInput" name="selectStaffGroup" style="width: 100%"  disabled></select><br />
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Ngày sinh</label><span style="color: red"> *</span>

                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableInput" id="detailStaffDayofbith" name="txtStaffDayofbith" type="text" data-date-format="dd/mm/yyyy" style="width: 100%" disabled />
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nơi sinh</label>
                            <input type="text" id="detailStaffPlacebirth" style="width: 100%" class="editableInput" disabled maxlength="100" /><br />
                        </div>
                        <div class="form-group">
                            <label>Điện thoại di động</label><span style="color: red"> *</span>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-phone"></i> </span>
                                <input class="form-control input-mask-phone editableInput " type="text" id="detailStaffPhone" name="txtStaffPhone" style="width: 100%" disabled maxlength="20" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Điện thoại nhà riêng</label>
                            <input type="text" id="detailStaffHome" style="width: 100%" class="editableInput" disabled maxlength="20" /><br />
                        </div>
                        <div class="form-group">
                            <label>Email</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="detailStaffEmail" name="email" style="width: 100%" class="editableInput" disabled maxlength="50" /><br />
                            </div>
                        </div>
                            <div class="form-group">
                                <label>Địa chỉ liên hệ</label><span style="color: red"> *</span>
                                <div>
                                    <input type="text" id="detailStaffAdd" name="txtStaffAdd" style="width: 100%" class="editableInput" disabled maxlength="100" />
                                </div>
                            </div>
                     
                        <div class="form-group" id="officeUpdateDiv">
                            <label>Thuộc văn phòng</label><span style="color: red"> *</span>
                            <div>
                                <select class="chosen-select editableInput" name="cboOffice" id="staffOffice" multiple="">
                                    <option value=""></option>
                                </select>
                                </div>
                                </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="space"></div>
                        <div class="form-group" style="margin:0">
                            <label>Vai trò nhân viên</label><span style="color: red"> *</span>
                            <div>
                                @*<input id="detailStaffRole" type="text" style="width: 100%" class="editableInput" disabled />*@

                                <select id="selectRole" name="selectStaffRole" class="form-control editableInput" roleSelect="true" style="width: 100%" disabled></select><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>CMND</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="detailStaffIdenNum" name="txtStaffIdenNum" maxlength="12" style="width: 100%" class="editableInput" disabled /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày Cấp CMND</label><span style="color: red"> *</span>
                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableInput " id="detailStaffIdenDay" name="txtStaffIdenDay" type="text" data-date-format="dd/mm/yyyy" style="width:100%" disabled /><br />
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nơi cấp CMND</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="detailStaffIdenPlace" name="txtStaffIdenPlace" style="width: 100%" class="editableInput" disabled maxlength="50" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Mã số thuế</label>
                            <input type="text" id="detailStaffTax" style="width: 100%" class="editableInput" disabled maxlength="14" />
                        </div>
                        <div class="form-group">
                            <label>Số tài khoản</label>
                            <input type="text" id="detailStaffBankNum" style="width: 100%" class="editableInput" disabled maxlength="20" />
                        </div>
                        <div class="form-group">
                            <label>Chi nhánh ngân hàng</label>
                            <input type="text" id="detailStaffBankBranch" style="width: 100%" class="editableInput" disabled maxlength="50" /><br />
                        </div>
                     
                    </div>
                    <div class="modal-footer no-margin-top">
                    </div>
                </form>
                <div class="modal-footer no-margin-top">
                 
                    <button class="btn  btn-grey pull-left" type="button" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Đóng
                    </button>
                    <button class="btn btn-success" onclick="updateStaff()" style="display:none" id="disablebutton">
                        <i class="icon-ok"></i>
                        Lưu chỉnh sửa
                    </button>
            

                    <button class="btn btn-primary" onclick="enablebutton1()" id="enablebutton">
                        <i class="icon-edit"></i>
                        Chỉnh sửa
                    </button>
                      
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
      
        $("#tblStaffDetail").dataTable().fnDestroy();
        var oTable1 = $('#tblStaffDetail').dataTable({
            "aoColumns": [
              { "bSortable": false }, null, null, null, null, null, { "bSortable": false }
            ]
        });
    </script>

</div>

