@{
    ViewBag.Title = "Quản lí nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/jquery.gritter.css" />
<link rel="stylesheet" href="~/Content/css/jquery-ui-1.10.3.custom.min.css" />

<link rel="stylesheet" href="~/Content/css/chosen.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/css/ace.min.css" />
<link rel="stylesheet" href="~/Content/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/css/timeline/screen.css" />
<link rel="stylesheet" href="~/Content/css/timeline/screen.css" />

<script src="~/Content/ckfinder/ckfinder.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="~/Content/js/timeliner.min.js" type="text/javascript"></script>
<script src="~/Content/js/bootbox.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTablesStaff.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTables.bootstrapStaff.js" type="text/javascript"></script>
@*<script src="~/Content/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.dataTables.bootstrap.js" type="text/javascript"></script>*@
<script src="~/Content/js/date-time/bootstrap-datepicker.min.js" type="text/javascript"></script>

<script src="~/Content/js/jquery.numeric.js" type="text/javascript"></script>
<script src="~/Content/js/fuelux/fuelux.spinner.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.autosize.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.gritter.min.js" type="text/javascript"></script>
<script src="~/Content/js/typeahead-bs2.min.js" type="text/javascript"></script>
<script src="~/Content/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.hotkeys.min.js"></script>
<script src="~/Content/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/Content/js/additional-methods.js"></script>

@section Sidebar
{
    <div class=" sidebar" id="sidebar">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>

        <ul class="nav nav-list">
            <li class="" id="liStaffDetail" onclick='getAllStaff()'>
                <a href="#" onclick="setLiActiveClass('#liStaffDetail')">
                    <i class="icon-user"></i>
                    <span class="menu-text"> Nhân viên</span>
                </a>
            </li>
            <li class="" id="liStaffGroup" onclick="getAllgroup()">
                <a href="#" onclick="setLiActiveClass('#liStaffGroup')">
                    <i class="icon-group"></i>
                    <span class="menu-text"> Nhóm nhân viên  </span>
                </a>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
        </div>

        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        </script>
    </div>
}

@section Breadcrumbs
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Home/Index">Trang chủ</a> | Quản lí nhân viên
            </li>
            <li>
                <span id="breadcrumbsMenu" style="font-weight: bold"></span>
            </li>

            @*<li>
                    Danh sách nhân viên
                </li>*@
        </ul><!-- .breadcrumb -->
    </div>
}

<div id="bodyContent">

</div>

<div id="bodyChangePass">

</div>
<div id="staffIdDiv" value="@Session["StaffId"].ToString()" style="display:none"></div>
<div id="roleIdDiv" value="@Session["RoleId"].ToString()" style="display:none"></div>

@*All scrip load bảng nhân viên*@
<script type="text/javascript">
    setLiActiveClass('#liStaffDetail');
    var allStaff = null;

    $(document).ready(function () {
        getAllStaff();
    });

    function maskMoney(input) {
        var num = $(input).val();
        if (num != "") {
            var str = ("" + num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, function ($1) { return $1 + "." });
            $(input).val(str + " VNĐ");
        }
    }

    function convertToMoney(num) {
        if ("" + num != "") {
            var str = ("" + num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, function ($1) { return $1 + "." });
            str = str + " VNĐ";
            return str;
        }
    }

    function removeMask(input) {
        var num = $(input).val();
        if (num != "") {
            var result = num.replace(" VNĐ", "");
            result = parseInt(result.split(".").join(""));
            return $(input).val(result);
        }
    }
    function setLiActiveClass(liId) {
        $('#liStaffDetail').attr("class", "");
        $('#liRoleStaff').attr("class", "");
        $('#liStaffGroup').attr("class", "");
        $(liId).attr("class", "active");
    }

    function popupuploadimage() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            $("#inputImg").val(fileUrl);
            $("#avartarImg").attr("src", $("#inputImg").val());
        };
        finder.connectorPath = '../../Content/ckfinder/core/connector/aspx/StaffImage.aspx';
        finder.popup();
    }

    function popupuploadimage1() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            $("#inputImg1").val(fileUrl);
            $("#avartarImg1").attr("src", $("#inputImg1").val());
        };
        finder.connectorPath = '../../Content/ckfinder/core/connector/aspx/StaffImage.aspx';
        finder.popup();
    }

    var no_image_available = '/Content/avatars/no-avatar.png';

    function isNullOrEmptyAnimalInfo(input) {
        if (input == null || input.length === 0 || typeof input == 'undefined' || input == "null") {
            return "Not Set";
        } else {
            return input;
        }
    };

    function getAllStaff() {
        $.post("/Staff/GetStaff", function (out) {
            document.getElementById("bodyContent").innerHTML = (out.html);
            {
                //$.post("/Staff/GetAllStaff", {}, function (out) {
                var item = '<tbody>';
                allStaff = out.list;
                $.each(out.list, function (index, staf) {
                    item += '<tr>';
                    item += '<td align="center"><a onClick="getStaffByIndex(' + index + ')" data-toggle="modal" href="#tblUpdateStaff"><span class="profile-picture"><img src="' + staf.Avatar + '" class="editable-click" style="height: 60px !important"></img></span></a></td>';
                    //item += '<td><img src="' + staf.StaffInformations[0].Avatar + '"width=50 height=50/></td>';
                    item += '<td>' + staf.StaffName + '</td>';
                    item += '<td>' + staf.Position + '</td>';
                    item += '<td>' + staf.Address + '</td>';
                    item += '<td>' + staf.Mobile + '</td>';
                    item += '<td>' + staf.Role.RoleName + '</td>';
                    //item += '<td>' + staf.Active + '</td>';
                    if (staf.Active == false) {
                        item += '<td><span class="label label-lg label-danger arrowed">Ngưng hoạt động</span></td>';
                    }
                    else if (staf.Active == true) {
                        item += '<td><span class="label label-lg label-success arrowed">Đang hoạt động</span></td>';
                    }
                    item += '<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><center>' +
                        '<a onClick="getStaffByIndex(' + index + ')" class="view" title="Chi tiết" data-toggle="modal"href="#tblUpdateStaff" id="' + index
                        + '"><i class="icon-zoom-in bigger-130"></i></a><a onClick="getStaffByIndex(' + index + ');enablebutton1()" class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblUpdateStaff" data-id="' + index
                        + '"><i class="icon-pencil bigger-130"></i></a></center></td>';
                });
                item += '</tbody>';
                item = item.split("null").join("");
                $('#tblStaffDetail').append(item);
                $("#tblStaffDetail").dataTable().fnDestroy();
                var oTable1 = $('#tblStaffDetail').dataTable({
                    "aoColumns": [
                        { "bSortable": false }, null, null, null, null, null, null, { "bSortable": false }
                    ]
                });

                $("#selectRole").on("change", function () {
                    if ($("#selectRole").val() == 1) {
                        $("#officeUpdateDiv").hide();
                    } else {
                        $("#officeUpdateDiv").show();
                    }
                });
                $("#selectStaffRole").on("change", function () {
                    if ($("#selectStaffRole").val() == 1) {
                        $("#officeNewDiv").hide();
                    } else {
                        $("#officeNewDiv").show();
                    }
                });
                loadSelectOffices();
                getStaffGropup();
                getStaffRole();
                editFr = $('#tblAddStaff').val();
                // chỉ cho các giá trị nhập bên dưới là số
                $("#txtStaffPhone", editFr).numeric({ decimal: false, negative: false });
                $("#txtStaffHome", editFr).numeric({ decimal: false, negative: false });
                $("#txtStaffBankNum", editFr).numeric({ decimal: false, negative: false });
                $("#txtStaffTax", editFr).numeric({ decimal: false, negative: false });
                $("#txtStaffIdenNum", editFr).numeric({ decimal: false, negative: false });
                // Gọi JS cho component ngày
                $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
                //Chạy hàm validate
                validateAddStaff('#addStaffValidateForm');
                validator.resetForm();
                $("#cboOffice").chosen();
                $("#cboOffice_chosen").css("width", "100%");
                $("#staffOffice").chosen();
                $("#staffOffice_chosen").css("width", "100%");
                //})
                ;
            }
        });
        $('#breadcrumbsMenu').text('Danh sách nhân viên');
    }

    function getUpdateStaff() {
        $.post("/Staff/GetUpdateStaff", function (out) {
            {
                allStaff = out;
                var item = '<tbody>';

                $.each(out, function (index, staf) {
                    item += '<tr>';
                    item += '<td align="center"><a onClick="getStaffByIndex(' + index + ')" data-toggle="modal" href="#tblUpdateStaff"><span class="profile-picture"><img src="' + staf.Avatar + '" class="editable-click" style="height: 60px !important"></img></span></a></td>';
                    //item += '<td><img src="' + staf.StaffInformations[0].Avatar + '"width=50 height=50/></td>';
                    item += '<td>' + staf.StaffName + '</td>';
                    item += '<td>' + staf.Position + '</td>';
                    item += '<td>' + staf.Address + '</td>';
                    item += '<td>' + staf.Mobile + '</td>';
                    item += '<td>' + staf.Role.RoleName + '</td>';
                    ////item += '<td>' + staf.Active + '</td>';
                    if (staf.Active == false) {
                        item += '<td><span class="label label-lg label-danger arrowed">Ngưng hoạt động</span></td>';
                    }
                    else if (staf.Active == true) {
                        item += '<td><span class="label label-lg label-success arrowed">Đang hoạt động</span></td>';
                    }

                    item += '<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><center>' +
                        '<a onClick="getStaffByIndex(' + index + ')" class="view" title="Chi tiết" data-toggle="modal"href="#tblUpdateStaff" id="' + index
                        + '"><i class="icon-zoom-in bigger-130"></i></a><a onClick="getStaffByIndex(' + index + ');enablebutton1()" class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblUpdateStaff" data-id="' + index
                        + '"><i class="icon-pencil bigger-130"></i></a></center></td>';
                });
                item += '</tbody>';
                item = item.split("null").join("");
                $('#tblStaffDetail').html(item);
                $("#tblStaffDetail").dataTable().fnDestroy();
                var oTable1 = $('#tblStaffDetail').dataTable({
                    "aoColumns": [
                        { "bSortable": false }, null, null, null, null, null, null, { "bSortable": false }
                    ]
                });

            }
        });
    }

    function addStaff() {
        if ($('#addStaffValidateForm').valid()) {
            editFr = $('#tblAddStaff').val();
            var staffName = $('#txtStaffName', editFr).val();
            var staffImage = isNullOrEmptyAnimalInfo(document.getElementById("inputImg").value) == "Not Set" ? no_image_available : document.getElementById("inputImg").value;
            var staffPosition = $('#txtStaffPosition', editFr).val();
            var staffRole = $('#selectStaffRole option:selected', editFr).val();
            var staffGroup = $('#selectStaffGroup option:selected', editFr).val();
            var staffHome = $('#txtStaffHome', editFr).val();
            var staffIdenNum = $('#txtStaffIdenNum', editFr).val();
            var staffEmail = $('#txtStaffEmail', editFr).val();
            var staffBankBranch = $('#txtStaffBankBranch', editFr).val();
            var staffPhone = $('#txtStaffPhone', editFr).val();
            if (document.getElementById('sexMale').checked) {
                var staffSex = document.getElementById('sexMale').value;
            } else if (document.getElementById('sexFemale').checked) {
                var staffSex = document.getElementById('sexFemale').value;
            }
            var staffAdd = $('#txtStaffAdd', editFr).val();
            var staffDayofbith = $('#txtStaffDayofbith', editFr).val();
            var staffPlacebirth = $('#txtStaffPlacebirth', editFr).val();
            var staffIdenDay = $('#txtStaffIdenDay', editFr).val();
            var staffIdenPlace = $('#txtStaffIdenPlace', editFr).val();
            var staffTax = $('#txtStaffTax', editFr).val();
            var staffBankNum = $('#txtStaffBankNum', editFr).val();
            var txtUsername = $('#txtUsername', editFr).val();
            var txtAppendantPeople = $('#txtAppendantPeople', editFr).val();
            

            var cboOfficeVal = "";
            if ($("#cboOffice").val() != null && $("#cboOffice").val() != "") {
                cboOfficeVal = $("#cboOffice").val().toString();
            }


            $.post("/Staff/AddStaff", {
                staffName: staffName, staffPos: staffPosition, roleId: staffRole, staffGroupId: staffGroup,
                txtStaffHome: staffHome, txtStaffIdenNum: staffIdenNum, txtStaffEmail: staffEmail, txtStaffBankBranch: staffBankBranch
                    , txtStaffPhone: staffPhone, txtStaffImage: staffImage, txtStaffSex: staffSex, txtStaffAdd: staffAdd, txtStaffDayofbith: staffDayofbith,
                txtStaffPlacebirth: staffPlacebirth, txtStaffIdenDay: staffIdenDay, txtStaffIdenPlace: staffIdenPlace,
                txtStaffTax: staffTax, txtStaffBankNum: staffBankNum, txtUsername: txtUsername, txtAppendantPeople:txtAppendantPeople ,cboOfficeVal: cboOfficeVal
            }, function (result) {
                $('#existUserNameError').attr("style", "display: none");
                if (result == "successful") {
                    $('.close').click();
                    $("body").attr("class", "");
                    clearField1();
                    getUpdateStaff();
                    notification("Tạo nhân viên thành công!", "", 2000, "btn-primary center");
                } else if (result == 'error') {
                    $('.close').click();
                    notification("Tạo nhân viên thất bại!", "", 3000, "gritter-error center");
                } else if (result == "exist") {
                    $('#existUserNameError').attr("style", "display: block");
                } else if (result == "PermissionDeny") {
                    notification("Tạo nhân viên thất bại!", "Bạn không có quyền tạo người quản lý!", 3000, "gritter-error center");
                }
            })
                .error(function () {
                    $('.close').click();
                    notification("Tạo nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                });

        }
    }

    function getStaffByIndex(index) {
        disablebutton1(); //chạy hàm này để disable cái select box
        editFr = $('#tblUpdateStaff');
        $('#detailStaffId', editFr).val(allStaff[index].StaffId);
        $('#detailStaffName', editFr).val(allStaff[index].StaffName);
        $('#detailStaffPosition', editFr).val(allStaff[index].Position);
        $("#deleteIdBtn").attr("onClick", "deleteStaff(" + allStaff[index].StaffId + ")");
        $("#activeIdBtn").attr("onClick", "activeStaff(" + allStaff[index].StaffId + ")");

        $('#selectGroup', editFr).val(allStaff[index].StaffGroup.StaffGroupId);
        //$("#selectGroup").trigger("chosen:updated")

        $('#selectRole', editFr).val(allStaff[index].Role.RoleId);

        if ($("#staffIdDiv").attr("value") == 1) {
            if (allStaff[index].StaffId == 1) {
                $("#selectRole").attr("roleSelect", "false");
            } else {
                $("#selectRole").attr("roleSelect", "true");
            }
        } else {
            if (allStaff[index].Role.RoleId == 1) {
                $("#selectRole").attr("roleSelect", "false");
            } else {
                $("#selectRole").attr("roleSelect", "true");
            }
        }
        if ($("#selectRole").val() == 1) {
            $("#officeUpdateDiv").hide();
        } else {
            $("#officeUpdateDiv").show();
        }
        //tạo ra một mảng để lưu các id và push lại giá trị vào để hiển thị tên văn phòng
        var array = new Array();
        $.each(allStaff[index].Office_Staff, function (i, office) {
            array.push(office.OfficeId);
        });
        $("#staffOffice").val(array);
        $("#staffOffice").trigger("chosen:updated");
        $('#detailStaffHome', editFr).val(allStaff[index].Telephone);
        $('#detailStaffIdenNum', editFr).val(allStaff[index].IdentityNumber);
        $('#detailStaffEmail', editFr).val(allStaff[index].Email);
        $('#detailStaffBankBranch', editFr).val(allStaff[index].BankBranch);
        $('#detailStaffPhone', editFr).val(allStaff[index].Mobile);
        if (allStaff[index].Sex == 'Nam') {
            $('#genderMale', editFr).prop("checked", true);
        } else if (allStaff[index].Sex == 'Nữ') {
            $('#genderFemale', editFr).prop("checked", true);
        } else {
            $('#genderFemale', editFr).prop("checked", false);
            $('#genderMale', editFr).prop("checked", false);
        }
        $('#detailStaffAdd', editFr).val(allStaff[index].Address);
        $('#detailAppendantPeople', editFr).val(allStaff[index].AppendantPeople);
        var bd = convertNETDateTime(allStaff[index].DateOfBirth).toLocaleFormat('%d/%m/%Y');
        $('#detailStaffDayofbith', editFr).val(bd);
        $('#detailStaffPlacebirth', editFr).val(allStaff[index].PlaceOfBirth);
        var idd = convertNETDateTime(allStaff[index].IdentityDate).toLocaleFormat('%d/%m/%Y');
        $('#detailStaffIdenDay', editFr).val(idd);
        $('#detailStaffIdenPlace', editFr).val(allStaff[index].IdentityPlace);
        $('#detailStaffTax', editFr).val(allStaff[index].TaxCode);
        $('#detailStaffBankNum', editFr).val(allStaff[index].BankAccount);
        //đổ dữ liêu về lại texbox
        $('#inputImg1', editFr).val(allStaff[index].Avatar);
        $("#avartarImg1", editFr).attr("src", allStaff[index].Avatar).val();
        $('#detailUsername', editFr).val(allStaff[index].Accounts[0].Username);
        // chỉ cho các giá trị nhập bên dưới là số
        $("#detailStaffPhone", editFr).numeric({ decimal: false, negative: false });
        $("#detailStaffHome", editFr).numeric({ decimal: false, negative: false });
        $("#detailStaffBankNum", editFr).numeric({ decimal: false, negative: false });
        $("#detailStaffPhone", editFr).numeric({ decimal: false, negative: false });
        $("#detailStaffTax", editFr).numeric({ decimal: false, negative: false });
        $("#detailStaffIdenNum", editFr).numeric({ decimal: false, negative: false });

        $('#activeStaff').text("Hoạt động lại").attr("style", "color:#428BCA");
        if (allStaff[index].Active) {
            $('#activeStaff').text("Ngừng hoạt động").attr("style", "color:red");
        }
        $('#activeStaff').attr("onClick", "SetStatusStaff(" + allStaff[index].StaffId + ", \"" + allStaff[index].StaffName + "\")");
        if ($("#staffIdDiv").attr("value") == "1" && allStaff[index].StaffId != '1') {
            $('#inActiveStaffDiv').show();

        } else if (allStaff[index].StaffId != '1' && allStaff[index].RoleId != '1') {
            $('#inActiveStaffDiv').show();
        } else $('#inActiveStaffDiv').hide();

        //Chạy hàm validate
        validateAddStaff('#updateStaffValidateForm');
        validator.resetForm();

    }

    function SetStatusStaff(id, username) {
        $(ace.click_event, function () {
            bootbox.confirm("Bạn có muốn thực hiện thao tác này?", function (result) {
                if (result) {
                    $.post("/Staff/SetStatusStaff", { staffId: id }
                    , function (result) {
                        if (result == "active") {
                            getUpdateStaff();
                            notification(username + " đã hoạt động lại!", "", 2000, "btn-primary center");
                        } if (result == "inactive") {
                            getUpdateStaff();
                            notification(username + " đã ngừng hoạt động!", "", 2000, "btn-primary center");
                        }
                        else if (result == 'Error') {
                            notification("Thay đổi hoạt động nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                        } else if (result == 'ErrorPermission') {
                            notification("Thay đổi hoạt động nhân viên thất bại!", "Bạn không có quyền thay đổi này!", 3000, "gritter-error center");
                        }
                    }).error(function () {
                        notification("Thay đổi hoạt động nhân viên thất bại!", "Có lỗi xảy ra trong quá trình xóa nhân viên.", 3000, "gritter-error center");
                    });
                    $('.close').click();
                }
            });
        });
    }
    //gọi lại nhóm nhân viên để đổ dữ liệu về select box

    function getStaffGropup() {
        $.post("/Staff/ListStaffGroup", {}, function (out) {
            var item = '';
            $.each(out, function (index, group) {
                item += '<option value="' + group.StaffGroupId + '">' + group.StaffGroupName + '</option>';
            });
            $('#selectStaffGroup').html(item);
            $('#selectGroup').html(item);
            $('#selectStaffGroup').val("");
        });
    }

    function getStaffRole() {
        $.post("/Staff/ListStaffRole", {}, function (out) {
            var item = '';
            $.each(out, function (index, role) {
                if (role.RoleId == 1 && $("#staffIdDiv").attr("value") == 1) {
                    item += '<option value="' + role.RoleId + '">' + role.RoleName + '</option>';
                } else if (role.RoleId == 1 && $("#staffIdDiv").attr("value") != 1) {
                    item += '<option value="' + role.RoleId + '"class="hide" >' + role.RoleName + '</option>';
                } else {
                    item += '<option value="' + role.RoleId + '">' + role.RoleName + '</option>';
                }
            });
            $('#selectStaffRole').html(item);
            $('#selectRole').html(item);
            $('#selectStaffRole').val("");
        });
    }

    //Hàm này để gọi lên tất cả các văn phòng
    function loadSelectOffices() {
        $.post("/Office/GetOfficeStaff", {}, function (out) {
            var item = "";
            $.each(out, function (index, off) {
                item += '<option value="' + off.OfficeId + '">' + off.OfficeName + '</option>';
            });
            $('#cboOffice').html(item);
            $("#cboOffice").trigger("chosen:updated");
            $('#staffOffice').html(item);
        });
    }

    function updateStaff() {
        if ($('#updateStaffValidateForm').valid()) {
            editFr = $('#tblUpdateStaff');
            var staffDetailId = $('#detailStaffId', editFr).val();
            var staffName = $('#detailStaffName', editFr).val();
            var staffPosition = $('#detailStaffPosition', editFr).val();
            var staffRole = $('#selectRole', editFr).val();
            var staffGroup = $('#selectGroup', editFr).val();
            var staffHome = $('#detailStaffHome', editFr).val();
            var staffIdenNum = $('#detailStaffIdenNum', editFr).val();
            var staffEmail = $('#detailStaffEmail', editFr).val();
            var staffBankBranch = $('#detailStaffBankBranch', editFr).val();
            var staffPhone = $('#detailStaffPhone', editFr).val();
            if (document.getElementById('genderMale').checked) {
                var sex = document.getElementById('genderMale').value;
            } else if (document.getElementById('genderFemale').checked) {
                var sex = document.getElementById('genderFemale').value;
            }
            var staffAdd = $('#detailStaffAdd', editFr).val();
            var staffDayofbith = $('#detailStaffDayofbith', editFr).val();
            var staffPlacebirth = $('#detailStaffPlacebirth', editFr).val();
            var staffIdenDay = $('#detailStaffIdenDay', editFr).val();
            var staffIdenPlace = $('#detailStaffIdenPlace', editFr).val();
            var staffTax = $('#detailStaffTax', editFr).val();
            var staffBankNum = $('#detailStaffBankNum', editFr).val();
            var staffImage = $('#inputImg1', editFr).val();
            var txtUsername = $('#detailUsername', editFr).val();
            var detailAppendantPeople = $('#detailAppendantPeople', editFr).val();
            
            var cboOfficeVal1 = "";
            if ($("#staffOffice").val() != null && $("#staffOffice").val() != "") {
                cboOfficeVal1 = $("#staffOffice").val().toString();
            }
            $.post("/Staff/UpdateStaff", {
                staffId: staffDetailId, staffName: staffName, staffPos: staffPosition, roleId: staffRole, staffGroupId: staffGroup,
                txtStaffHome: staffHome, txtStaffIdenNum: staffIdenNum, txtStaffEmail: staffEmail, txtStaffBankBranch: staffBankBranch
                    , txtStaffPhone: staffPhone, txtStaffSex: sex, txtStaffAdd: staffAdd, txtStaffDayofbith: staffDayofbith,
                txtStaffPlacebirth: staffPlacebirth, txtStaffIdenDay: staffIdenDay, txtStaffIdenPlace: staffIdenPlace,
                txtStaffTax: staffTax, txtStaffBankNum: staffBankNum, txtStaffImage: staffImage, txtUsername: txtUsername, detailAppendantPeople: detailAppendantPeople, cboOfficeVal1: cboOfficeVal1
            }, function (result) {
                if (result == "successful") {
                    disablebutton1(); // CHỈNH sửa lần 2
                    getUpdateStaff();
                    $('.close').click();
                    $("body").attr("class", "");
                    notification("Cập nhật chi tiết nhân viên thành công!", "", 2000, "btn-primary center");
                } else if (result == 'error') {
                    notification("Cập nhật chi tiết  nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                } else if (result == 'OfficeInWork') {
                    notification("Chuyển văn phòng thất bại!", "Luật sư còn đang thụ lí hồ sơ thuộc văn phòng muốn chuyển đi, hãy kiểm tra lại!", 3000, "gritter-error center");
                } else if (result == 'PermissionDeny') {
                    notification("Cập nhật chi tiết  nhân viên thất bại!", "Không có quyền chỉnh người quản lý!", 3000, "gritter-error center");
                }
            })
                .error(function () {
                    notification("Cập nhật chi tiết  nhân viên thất bại", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                });
        }

    }

    //function deleteStaff(id) {
    //    $(ace.click_event, function () {
    //        bootbox.confirm("Bạn thực sự muốn ngừng hoạt động nhân viên này?", function (result) {
    //            if (result) {
    //                $.post("/Staff/DeleteStaffInfo", { staffId: id }
    //                    , function (result) {
    //                        if (result == "Successful") {
    //                            $('.close').click();
    //                            getUpdateStaff();
    //                            notification("Ngừng hoạt động nhân viên thành công!", "", 2000, "btn-primary center");
    //                        } else if (result == 'Error') {
    //                            $('.close').click();
    //                            notification("Ngừng hoạt động  nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
    //                        }
    //                    })
    //                    .error(function () {
    //                        notification("Ngừng hoạt động nhân viên thất bại!", "Có lỗi xảy ra trong quá trình xóa nhân viên.", 3000, "gritter-error center");
    //                    });
    //            }
    //        });
    //    });
    //}
    //function activeStaff(id) {
    //    $(ace.click_event, function () {
    //        bootbox.confirm("Bạn muốn phục hồi lại nhân viên này?", function (result) {
    //            if (result) {
    //                $.post("/Staff/ActiveStaff", { StaffId: id }
    //                    , function (result) {
    //                        if (result == "Successful") {
    //                            $('.close').click();
    //                            getUpdateStaff();
    //                            notification("Phục hồi  nhân viên thành công!", "", 2000, "btn-primary center");
    //                        } else if (result == 'Error') {
    //                            $('.close').click();
    //                            notification("Phục hồi  nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
    //                        }
    //                    })
    //                    .error(function () {
    //                        notification("Phục hồi nhân viên thất bại!", "Có lỗi xảy ra trong quá trình xóa nhân viên.", 3000, "gritter-error center");
    //                    });
    //            }
    //        });
    //    });
    //}

    function resetPassword() {
        $(ace.click_event, function () {
            bootbox.confirm("Bạn muốn khôi phục mật khẩu nhân viên này về mặc định?", function (result) {
                if (result) {
                    var staffDetailId = $('#detailStaffId', editFr).val();
                    $.post("/Staff/ResetStaffPass", {
                        staffId: staffDetailId
                    }, function (result) {
                        if (result == "successful") {
                            $('.close').click();
                            notification("Khôi phục mật khẩu thành công!", "", 2000, "btn-primary center");
                        } else if (result == 'error') {
                            $('.close').click();
                            notification("Khôi phục mật mật khẩu thất bại!", 3000, "gritter-error center");
                        }
                    })
                    .error(function () {
                        $('.close').click();
                        notification("Khôi phục mật khẩu thất bại", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                    });
                }
            });
        });
    }

    function disablebutton1() {
        editFr = $('#tblUpdateStaff');
        $('.editableInput').attr("disabled", "");
        $('.ace', editFr).attr("disabled", "");
        $('#enablebutton').show();
        $('#disablebutton').hide();
        $('#detailStaffDayofbith', editFr).attr("style", "cursor: pointer");
        $('#selectStaffRole', editFr).attr("style", "cursor: pointer;width: 100%");
        $('#detailStaffIdenDay', editFr).attr("style", "cursor: pointer");
        $('#selectStaffGroup', editFr).attr("style", "cursor: pointer;width: 100%");
    }

    function enablebutton1() {
        editFr = $('#tblUpdateStaff');

        $('.editableInput').removeAttr("disabled");
        $('.ace', editFr).removeAttr("disabled");
        $("#staffOffice").trigger("chosen:updated");
        $('#disablebutton').show();
        $('#enablebutton').hide();
        if ($("#selectRole").attr("roleSelect") == "false") {
            $("#selectRole").attr("disabled", "disabled");
        } else {
            $("#selectRole").removeAttr("disabled");
        }
    }

    function clearField1() {
        editFr = $('#tblAddStaff');
        $("#avartarImg").attr("src", "/Content/avatars/no-avatar.png");
        $('#txtStaffName', editFr).val("");
        $('#txtStaffPosition', editFr).val("");
        $('#selectStaffRole', editFr).val("");
        $('#selectStaffGroup', editFr).val("");
        $('#txtStaffHome', editFr).val("");
        $('#txtStaffIdenNum', editFr).val("");
        $('#txtStaffEmail', editFr).val("");
        $('#txtStaffBankBranch', editFr).val("");
        $('#txtStaffPhone', editFr).val("");
        $('#txtStaffSex', editFr).val("");
        $('#txtStaffAdd', editFr).val("");
        $('#txtStaffDayofbith', editFr).val("");
        $('#txtStaffPlacebirth', editFr).val("");
        $('#txtStaffIdenDay', editFr).val("");
        $('#txtStaffIdenPlace', editFr).val("");
        $('#txtStaffTax', editFr).val("");
        $('#txtStaffBankNum', editFr).val("");
        $('#txtUsername', editFr).val("");
        $('#sexMale').removeAttr("checked");
        $('#sexFemale').removeAttr("checked");
        $("#cboOffice", editFr).val("");
        $("#cboOffice").trigger("chosen:updated")
    }

    function validateAddStaff(validateform) {
        validator = $(validateform).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                txtStaffName: {
                    required: true
                },
                selectStaffRole: {
                    required: true
                },
                selectStaffGroup: {
                    required: true

                },
                txtStaffPhone: {
                    required: true,
                },
                txtStaffAdd: {
                    required: true
                },
                txtStaffIdenNum: {
                    required: true
                },
                txtUsername: {
                    required: true,
                    alphanumeric: true

                },
                email: {
                    required: true,
                    email: true
                },
                txtStaffDayofbith: {
                    required: true
                },
                txtStaffIdenDay: {
                    required: true
                },
                txtStaffIdenPlace: {
                    required: true
                },
                cboOffice: {
                    required: true
                }

            },
            messages: {
                txtStaffName: {
                    required: "Nhập tên nhân viên!"
                },
                selectStaffRole: {
                    required: "Chọn vai trò cho nhân viên!",
                },
                selectStaffGroup: {
                    required: "Chọn nhóm cho nhân viên!",
                },
                txtStaffPhone: {
                    required: "Nhập vào số điện thoại nhân viên!"
                },
                txtStaffAdd: {
                    required: "Nhập địa chỉ của nhân viên!",
                },
                txtStaffIdenNum: {
                    required: "Nhập vào số chứng minh nhân dân!",
                },
                email: {
                    required: "Hãy nhập Email của nhân viên!"
                },
                txtStaffDayofbith: {
                    required: "Chọn ngày sinh của nhân viên!",
                },
                txtStaffIdenDay: {
                    required: "Chọn ngày cấp chứng minh nhân dân!",
                },
                txtStaffIdenPlace: {
                    required: "Nhập vào nơi cấp chứng minh nhân dân !",
                },
                txtUsername: {
                    required: "Nhập vào tên đăng nhập!",
                    alphanumeric: "Tên đăng nhập không được chứa ký tự đặc biệt"
                },
                cboOffice: {
                    required: "Chọn một văn phòng!",
                }

            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else error.insertAfter(element.parent());
            }
        });
    }
</script>

<script type="text/javascript">
    jQuery(function ($) {
        //$(".chosen-select").chosen();
        //$("#cboOffice_chosen").css("width", "100%");

        var oTable1 = $('#tblStaffDetail').dataTable({
            "aoColumns": [
                { "bSortable": false }, null, null, null, null, null, null, { "bSortable": false }
            ]
        });

        $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('textarea[class*=autosize]').autosize({ append: "\n" });
    })
</script>

@*all scrip của bảng nhóm----------------------------------------------------------------------*@
<script>
    function getAllgroup() {
        $.post("/Staff/GetGroups", function (out) {

            document.getElementById("bodyContent").innerHTML = (out.html);
            {

                var item = '<tbody>';
                allStaffGroup = out.list;
                $.each(out.list, function (index, staf) {

                    item += '<tr>';
                    item += '<td><a onClick="getStaffGroupById(' + index + ')" data-toggle="modal" href="#tblUpdateGroup">' + staf.StaffGroupName + '</a></td>';
                    item += '<td>' + staf.Description + '</td>';
                    item += '<td>' + convertToMoney(staf.BaseSalary) + '</td>';
                    item += '<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><center><a onClick="getStaffGroupById(' + index + ')" class="view" title="Chi tiết" data-toggle="modal"href="#tblUpdateGroup" id="' + index
                        + '"><i class="icon-zoom-in bigger-130"></i></a><a onClick="getStaffGroupById(' + index + '); enablebutton2()" class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblUpdateGroup" data-id="' + index
                        + '"><i class="icon-pencil bigger-130"></i></a><a onClick="deleteStaffGroup(' + staf.StaffGroupId + ')" class="red" title="Xóa" href="#" data-id="' + staf.StaffGroupId + '"><i class="icon-trash bigger-130"></i></a></center></td>';

                    item += '</tr>';
                });
                item += '</tbody>';
                item = item.split("null").join("");
                $('#tblGroupDetail').append(item);
                $("#tblGroupDetail").dataTable().fnDestroy();
                var oTable3 = $('#tblGroupDetail').dataTable({
                    "aoColumns": [
                        null, null, null, { "bSortable": false }
                    ]
                });
                validateAddGroup('#addGroupValidateForm');
                $("#txtBaseSalary", editFr).numeric({ decimal: false, negative: false });

                ;
            }
        })
        $('#breadcrumbsMenu').text('Nhóm nhân viên');
    }

    function addStaffGroup() {
        if ($('#addGroupValidateForm').valid()) {
            editFr = $('#tblAddGroup');
            var staffGrName = $('#txtGroupName', editFr).val();
            var staffGrDes = $('#txtGroupDetail', editFr).val();
            //var txtMoneySalary = $('#txtBaseSalary', editFr).val();
            var txtMoneySalary = $("#txtBaseSalary").val().replace("VNĐ", "");
            txtMoneySalary = txtMoneySalary.split(".").join("");

            $.post("/Staff/AddStaffGroup", {
                txtGroupName: staffGrName, txtGroupDetail: staffGrDes, txtMoneySalary: txtMoneySalary

            }, function (result) {
                $('#existStaffGroupError').attr("style", "display: none");
                if (result == "Successful") {
                    getAllgroup();
                    $('.close').click();
                    $("body").attr("class", "");

                    notification("Tạo nhóm nhân viên mới thành công!", "", 2000, "btn-primary center");
                } else if (result == 'Error') {
                    $('.close').click();
                    notification("Tạo nhóm nhân viên mới thất bại!", 3000, "gritter-error center");
                }
                else if (result == "exist") {
                    $('#existStaffGroupError').attr("style", "display: block");
                }
            })
                .error(function () {
                    $('.close').click();
                    notification("Tạo nhóm nhân viên!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                });
        }
    }

    function getStaffGroupById(index) {
        disablebutton2();
        editFr = $('#tblUpdateGroup');
        $('#txtGroupId', editFr).val(allStaffGroup[index].StaffGroupId);
        $('#txtEditName', editFr).val(allStaffGroup[index].StaffGroupName);
        $('#txtEditDetail', editFr).val(allStaffGroup[index].Description);
        //$('#txtEditMoney', editFr).val(allStaffGroup[index].BaseSalary);
        var editmoney = convertToMoney(allStaffGroup[index].BaseSalary);
        $('#txtEditMoney', editFr).val(editmoney);

        validateAddGroup('#updateGroupValidateForm');
        $("#txtEditMoney", editFr).numeric({ decimal: false, negative: false });
    }

    function updateGroup() {
        if ($('#updateGroupValidateForm').valid()) {
            editFr = $('#tblUpdateGroup');
            var staffGrId = $('#txtGroupId', editFr).val();
            var staffGrName = $('#txtEditName', editFr).val();
            var staffGrDetail = $('#txtEditDetail', editFr).val();
            //var staffMoneyDetail = $('#txtEditMoney', editFr).val();
            var staffMoneyDetail = $("#txtEditMoney").val().replace("VNĐ", "");
            staffMoneyDetail = staffMoneyDetail.split(".").join("");

            disablebutton2(); // CHỈNH sửa lần 2
            $.post("/Staff/UpdateStaffGroup", {
                StaffGrId: staffGrId, staffGrName: staffGrName, staffGrDetail: staffGrDetail, txtEditMoney: staffMoneyDetail
            }, function (result) {
                if (result == "Successful") {
                    $('.close').click();
                    getAllgroup();
                    $("body").attr("class", "");
                    notification("Cập nhật chi tiết nhóm nhân viên thành công!", "", 2000, "btn-primary center");
                } else if (result == 'Error') {
                    $('.close').click();
                    notification("Cập nhật chi tiết nhóm nhân viên thất bại!", "", 3000, "gritter-error center");
                }
            })
                        .error(function () {
                            $('.close').click();
                            notification("Tạo nhóm nhân viên!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                        });
        }
    }

    function deleteStaffGroup(id) {
        $(ace.click_event, function () {
            bootbox.confirm("Bạn thực sự muốn xóa nhóm này?", function (result) {
                if (result) {
                    $.post("/Staff/DeleteStaffGroup", { staffGroupId: id }
                        , function (result) {
                            if (result == "Successful") {
                                getAllgroup();
                                notification("Xóa nhóm nhân viên thành công!", "", 2000, "btn-primary center");
                            } else if (result == 'Error') {
                                $('.close').click();
                                notification("Xóa nhóm nhân viên thất bại!", "Nhóm nhân viên này hiện đang được sử dụng!", 3000, "gritter-error center");
                            }
                        })
                        .error(function () {
                            notification("Xóa nhóm nhân viên thất bại!", "Có lỗi xảy ra trong quá trình xóa nhóm nhân viên.", 3000, "gritter-error center");
                        });
                }
            });
        });
    }

    function validateAddGroup(validateform) {
        $(validateform).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                txtGroupName: {
                    required: true
                },
                txtGroupDetail: {
                    required: true
                }
                ,
                txtBaseSalary: {
                    required: true,
                    maxlength: false
                }

            },
            messages: {
                txtGroupName: {
                    required: "Nhập tên nhóm nhân viên!"
                },
                txtGroupDetail: {
                    required: "Nhập chi tiết chi tiết nhân viên!",
                }
                ,
                txtBaseSalary: {
                    required: "Nhập số tiền lương cơ bản!",
        
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else error.insertAfter(element.parent());
            }
        });
    }

    function disablebutton2() {
        editFr = $('#tblUpdateGroup');
        $('.editableInput', editFr).attr("disabled", "");
        $('#enablebutton2').show();
        $('#disablebutton2').hide();
    }

    function enablebutton2() {
        editFr = $('#tblUpdateGroup');
        $('.editableInput', editFr).removeAttr("disabled");
        $('#disablebutton2').show();
        $('#enablebutton2').hide();
    }

    function clearField2() {
        editFr = $('#tblAddGroup');
        $('#txtGroupName', editFr).val("");
        $('#txtGroupDetail', editFr).val("");
    }

</script>

<script type="text/javascript">
    jQuery(function ($) {
        var oTable3 = $('#tblGroupDetail').dataTable({
            "aoColumns": [
                null, null, null, { "bSortable": false }
            ]
        });

        $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('textarea[class*=autosize]').autosize({ append: "\n" });
    })
</script>

@* bảng vai trò*@
@*<script>
        //getAllRole();
        //validateAddStaff('#addRoleValidateForm');
        //validateAddStaff('#updateRoleValidateForm');

        function getAllRole() {
            $.post("/Staff/GetRoles", function (out) {

                document.getElementById("bodyContent").innerHTML = (out.html);
                {

                    $.post("/Staff/ListRoleGroup", {}, function (out) {

                        var item = '<tbody>';
                        allStaffRole = out
                        $.each(out, function (index, role) {

                            item += '<tr>';
                            //item += '<td>' + role.RoleId + '</td>'; // lấy id để delete
                            item += '<td>' + role.RoleName + '</td>';
                            item += '<td>' + role.Description + '</td>';
                            item += '<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><a onClick="getStaffRoleId(' + index + ')" class="view" title="Chi tiết" data-toggle="modal"href="#tblUpdateRole" id="' + index
                                  + '"><i class="icon-zoom-in bigger-130"></i></a><a onClick="getStaffRoleId(' + index + '),enablebutton3() " class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblUpdateRole" data-id="' + index
                               + '"><i class="icon-pencil bigger-130"></i></a><a onClick="deleteStaffRole(' + role.RoleId + ')"class="red" title="Xóa" href="#" data-id="' + role.RoleId + '"><i class="icon-trash bigger-130"></i></a></td>';
                            //item += '<td class="visible-xs visible-sm hidden-md hidden-lg"><a onClick="getStaffRoleId(' + index + ')" class="view" title="Chi tiết" data-toggle="modal"href="#tblRoleDetail" id="' + index
                            //      + '"><i class="icon-zoom-in bigger-130"></i></a><a onClick="getStaffRoleId(' + index + '),enablebutton3() " class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblRoleDetail" data-id="' + index
                            //   + '"><i class="icon-pencil bigger-130"></i></a><a onClick="deleteStaffRole(' + role.RoleId + ')"class="red" title="Xóa" href="#" data-id="' + role.RoleId + '"><i class="icon-trash bigger-130h"></i></a></td>';

                            item += '</tr>';
                        });
                        item += '</tbody>';
                        $('#tblRoledetail').append(item);
                        $("#tblRoledetail").dataTable().fnDestroy();
                        var oTable2 = $('#tblRoledetail').dataTable({
                            "aoColumns": [
                              null, null, null
                            ]

                        });
                        validateAddRole('#addRoleValidateForm');

                    })
                    ;
                }
            })
        }
        function addStaffRole() {

            if ($('#addRoleValidateForm').valid()) {
                editFr = $('#tblAddRole');

                var staffRoleName = $('#txtRoleName', editFr).val();
                var staffRoleDes = $('#txtRoleDetail', editFr).val();


                $.post("/Staff/AddStaffRole", {
                    txtRoleName: staffRoleName, txtRoleDetail: staffRoleDes

                }, function (result) {
                    if (result == "Successful") {
                        getAllRole();
                        $('.close').click();
                        notification("Tạo vai trò thành công!", "", 2000, "btn-primary center");
                    } else if (result == 'Error') {
                        $('.close').click();
                        notification("Tạo vai trò thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");

                    }
                });

            }
        }
        function getStaffRoleId(index) {
            disablebutton3();
            editFr = $('#tblUpdateRole');
            $('#txtGroupId', editFr).val(allStaffRole[index].RoleId);
            $('#txtRoleName', editFr).val(allStaffRole[index].RoleName);
            $('#txtRoleDetail', editFr).val(allStaffRole[index].Description);
            //validateAddStaff('#addRoleValidateForm');
            validateAddRole('#updateRoleValidateForm');


        }

        function updateRole() {
            if ($('#updateRoleValidateForm').valid()) {
                editFr = $('#tblUpdateRole');
                var staffRoleId = $('#txtGroupId', editFr).val();
                var staffRoleName = $('#txtRoleName', editFr).val();
                var staffRoleDetail = $('#txtRoleDetail', editFr).val();
                disablebutton3(); // CHỈNH sửa lần 2
                $.post("/Staff/UpdateStaffRole", {
                    staffRoleId: staffRoleId, txtRoleName: staffRoleName, txtRoleDetail: staffRoleDetail
                }, function (result) {
                    if (result == "Successful") {
                        $('.close').click();
                        $("body").attr("class", "");
                        getAllRole();
                        notification("Cập nhật chi tiết vai trò thành công!", "", 2000, "btn-primary center");
                    } else if (result == 'Error') {
                        $('.close').click();
                        notification("Cập nhật chi tiết vai trò thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                    }
                });
            }
        }

        function deleteStaffRole(id) {
            $(ace.click_event, function () {
                bootbox.confirm("Bạn thực sự muốn xóa nhóm này?", function (result) {
                    if (result) {
                        $.post("/Staff/DeleteStaffRole", { staffRoleId: id }
                        , function (result) {
                            if (result == "Successful") {
                                getAllRole();
                                notification("Xóa nhóm vai trò thành công!", "", 2000, "btn-primary center");
                            } else if (result == 'Error') {
                                $('.close').click();
                                notification("Xóa nhóm vai trò thất bại !!! Nhóm vai trò này đang được sử dụng!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                            }
                        })
                  .error(function () {
                      notification("Xóa nhóm vai trò thất bại!", "Có lỗi xảy ra trong quá trình xóa vai trò.", 3000, "gritter-error center");
                  });
                    }
                });
            });
        }
        function validateAddRole(validateform) {
            $(validateform).validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    txtRoleName: {
                        required: true
                    },
                    txtRoleDetail: {
                        required: true
                    }

                },
                messages: {
                    txtRoleName: {
                        required: "Nhập tên vai trò!"
                    },
                    txtRoleDetail: {
                        required: "Nhập chi tiết vai trò!",
                    }
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    $(e).remove();
                },
                errorPlacement: function (error, element) {
                    if (element.is(':checkbox') || element.is(':radio')) {
                        var controls = element.closest('div[class*="col-"]');
                        if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else error.insertAfter(element.parent());
                }
            });
        }
        function clearField3() {
            editFr = $('#tblAddRole');
            $('#txtRoleName', editFr).val("");
            $('#txtRoleDetail', editFr).val("");

        }

        function disablebutton3() {
            $('.editableInput').attr("disabled", "");
            //$('.inputDisable').attr("disabled", "disabled");
            $('#enablebutton').show();
            $('#disablebutton').hide();
        }
        function enablebutton3() {
            $('.editableInput').removeAttr("readonly");
            $('.editableInput').removeAttr("disabled");
            $('#disablebutton').show();
            $('#enablebutton').hide();
        }
    </script>

    <script type="text/javascript">
        jQuery(function ($) {

            var oTable2 = $('#tblRoledetail').dataTable({
                "aoColumns": [
                  null, null, null
                ]
            });

            $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('textarea[class*=autosize]').autosize({ append: "\n" });

        })
    </script>*@
