@*@model List<LFMS.Case>*@
@{
    ViewBag.Title = "Danh sách hồ sơ tác nghiệp";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section HeaderCss
{
    <link href="~/Content/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery.gritter.css" rel="stylesheet" />
}

@section HeaderJs
{
    <script src="~/Content/js/jquery-ui-1.10.3.full.min.js" type="text/javascript"></script>

    <script src="~/Content/js/jquery.dataTablesListCase.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.dataTables.bootstrapListCase.js" type="text/javascript"></script>
    <script src="~/Content/js/date-time/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.autosize.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.gritter.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
}

@section Breadcrumbs
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Home/Index">Trang chủ</a> | Hồ sơ tác nghiệp
            </li>

            <li class="active">
                <strong>Danh sách hồ sơ</strong>
            </li>
        </ul><!-- .breadcrumb -->
    </div>
}

<div id="staffRoleIdDiv" value="@Session["RoleId"].ToString()" style="display:none"></div>

<div id="bodyChangePass"></div>

<div id="addNewCaseBtn" style="display: none">
    <a href="#modalAddNewCase" role="button" class="green" data-toggle="modal">
        <button class="btn btn-primary" onclick="">
            <i class="icon-plus"></i>
            Thêm hồ sơ tác nghiệp
        </button>
    </a>
</div>

<hr />

<div id="modalAddNewCase" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thêm hồ sơ tác nghiệp
                </div>
            </div>

            <form class="modal-body no-padding" id="addCaseValidateForm">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="col-sm-6">
                                <p class="header blue lighter smaller">Mã hồ sơ<span style="color: red"> *</span></p>
                                <div>
                                    <input type="text" id="txtCaseCode" name="txtCaseCode" class="col-xs-10 col-sm-5" style="width: 100%; height: 32px;" maxlength="50" />
                                </div>
                                <div id="existCaseCodeError" style="display: none">
                                    <span style="color: #D16E6C">Mã hồ sơ đã tồn tại!</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <p class="header blue lighter smaller">Ngày thụ lý<span style="color: red"> *</span></p>
                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker" id="datePickerReceiptDate" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer; background: none repeat scroll 0 0 #fff !important" readonly />
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>

                                <script>
                                    var today = getCurdate();
                                    document.getElementById("datePickerReceiptDate").value = today.toString();
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="col-sm-6">
                                <p class="header blue lighter smaller">Thuộc văn phòng<span style="color: red"> *</span></p>
                                <div>
                                    <select class="form-control" id="cboOffice" name="cboOffice"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="col-sm-6">
                                <p class="header blue lighter smaller">Nội dung<span style="color: red"> *</span></p>
                                <div>
                                    <textarea id="txtCaseContent" name="txtCaseContent" class="autosize-transition form-control" style="resize: none"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-12"></div>
                </div>
            </form>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-grey pull-left" type="button" data-dismiss="modal" id="btnClose">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success" type="button" data-bb-handler="confirm" id="btnAddNewCase" onclick="addCase()">
                    <i class="icon-ok"></i>
                    Thêm mới
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="messageBox" class="" align="center" style="display:none">
    <div style="float:right; margin-right: 10px">
        <a href="#" class="closeDivisor" onclick="closeDivisor('messageBox'); return false;">[x]</a>
    </div>
    <div class="opacity1">
        <p id="messageBoxContent"></p>
    </div>
</div>

<p id="messageSuccess" style="display: none">Thêm hồ sơ thành công!</p>
<p id="messageError" style="display: none">Lỗi kết nối cơ sở dữ liệu!</p>

<div class="table-responsive">
    <table id="tblCase" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th width="15%">Mã hồ sơ</th>
                <th class="hidden-320">Nội dung</th>
                <th width="15%" class="hidden-640">Ngày thụ lý</th>
                <th width="20%" class="hidden-480">Thuộc văn phòng</th>
                <th width="15%">Trạng thái</th>
            </tr>
        </thead>
        <tbody id="tbodyCaseList" role="alert" aria-live="polite" aria-relevant="all"></tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var roleId = $("#staffRoleIdDiv").attr("value");
        if (roleId == "1" || roleId == "2") {
            $('#addNewCaseBtn').show();
        }
        validateAddCase('#addCaseValidateForm');

        // load office len cobOffice
        if (roleId == "1") {
            loadSelectOfficesWithAdmin();
        } else {
            loadSelectOffices();
        }

        getCasesJson("10", "2", "", "0", "");
        var oTable1 = $('#tblCase').dataTable({
            "aoColumns": [
              null, null, null, null, null
            ],
            "aaSorting": [[2, "desc"]]
        });
    });
    var changePage = false;
    var changeRecord = 10;
    var totalRecord;
    var serverSideListCase = true;

    function getCasesJson(displayNum1, orderKey1, orderType1, pageNum1, caseCode1) {
        $.ajax({
            url: '/Case/GetAllJsonCase',
            method: 'POST',
            async: false,
            data: { displayNum: displayNum1, orderKey: orderKey1, orderType: orderType1, pageNum: pageNum1, caseCode: caseCode1 },
            success: function (out) {
                {
                    var item = "";
                    $.each(out.list, function (index1, cs) {
                        item += '<tr class="';

                        item += (index1 % 2 == 0) ? 'odd' : 'even';
                        item += '"><td><a href="/Case/Case/' + cs.CaseId + '">' + cs.CaseCode + '</a></td>';
                        item += '<td class="hidden-320">' + cs.CaseContent + '</td>';
                        item += '<td class="hidden-640">' + convertNETDateTime(cs.ReceiptDate).toLocaleFormat('%d/%m/%Y') + '</td>';
                        item += '<td class="hidden-480">' + cs.Office.OfficeName + '</td>';
                        if (cs.Status == "Đang thụ lý") {
                            item += '<td><span class="label label-lg label-danger arrowed">' + cs.Status + '</span></td>';
                        }
                        else if (cs.Status == "Đã thụ lý") {
                            item += '<td><span class="label label-lg label-success arrowed">' + cs.Status + '</span></td>';
                        }

                        item += '</tr>';
                    });
                    $('#tbodyCaseList').html(item);
                    totalRecord = out.totalRecord;

                };
            }
        });
    }

    function addCase() {
        if ($('#addCaseValidateForm').valid()) {
            var caseCode = $('#txtCaseCode').val();
            var receiptDate = $('#datePickerReceiptDate').val();
            var caseContent = $('#txtCaseContent').val();
            var officeId = $("#cboOffice option:selected").val();
            $.post("/Case/AddCase", {
                caseCode: caseCode, receiptDate: receiptDate, caseContent: caseContent, officeId: officeId
            }, function (result) {
                if (result != "error" && result != "existCode") {
                    $('#existCaseCodeError').attr("style", "display: none");
                    var url = '/Case/Case/' + result + '';
                    $(location).attr('href', url);
                } else if (result == "error") {
                    notification("Thêm hồ sơ thất bại!", "Hãy kiểm tra lại kết nối database.", 5000, "gritter-error center");
                } else if (result == "existCode") {
                    $('#existCaseCodeError').attr("style", "display: block");
                }
            })
            .error(function () {
                notification("Thêm hồ sơ thất bại!", "Hãy kiểm tra lại kết nối database.", 5000, "gritter-error center");
            });
    
        }
    }

    function loadSelectOfficesWithAdmin() {
        $.post("/Case/GetAllOfficeJson", {}, function (out) {
            var item = '';
            $.each(out, function (index, off) {
                item += '<option value="' + off.OfficeId + '">' + off.OfficeName + '</option>';
            });
            $('#cboOffice').html(item);
            $('#cboOffice').val("");
        });
    }

    function loadSelectOffices() {
        $.post("/Case/GetOfficesByStaffId", {}, function (out) {
            var item = '';
            $.each(out.Office_Staff, function (index, off) {
                item += '<option value="' + off.Office.OfficeId + '">' + off.Office.OfficeName + '</option>';
            });
            $('#cboOffice').html(item);
            $('#cboOffice').val("");
        });
    }

    function validateAddCase(validateform) {
        $(validateform).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                txtCaseCode: {
                    required: true
                },
                cboOffice: {
                    required: true
                },
                txtCaseContent: {
                    required: true
                }
            },
            messages: {
                txtCaseCode: {
                    required: "Nhập mã hồ sơ!"
                },
                cboOffice: {
                    required: "Chọn văn phòng!",
                },
                txtCaseContent: {
                    required: "Nhập nội dung!",
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else error.insertAfter(element.parent());
            }
        });
    }
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('textarea[class*=autosize]').autosize({ append: "\n" });
    });

    jQuery.fn.dataTableExt.oSort['vn_date-asc'] = function (a, b) {
        var ukDatea = a.split('/');
        var ukDateb = b.split('/');

        var x = (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        var y = (ukDateb[2] + ukDateb[1] + ukDateb[0]) * 1;

        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
    };

    jQuery.fn.dataTableExt.oSort['vn_date-desc'] = function (a, b) {
        var ukDatea = a.split('/');
        var ukDateb = b.split('/');

        var x = (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        var y = (ukDateb[2] + ukDateb[1] + ukDateb[0]) * 1;

        return ((x < y) ? 1 : ((x > y) ? -1 : 0));
    };
</script>
