@{
    ViewBag.Title = "Chi phí khác";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/jquery.gritter.css" />
<link rel="stylesheet" href="~/Content/css/jquery-ui-1.10.3.custom.min.css" />

<link rel="stylesheet" href="~/Content/css/chosen.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/css/ace.min.css" />
<link rel="stylesheet" href="~/Content/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/css/timeline/screen.css" />
<link rel="stylesheet" href="~/Content/css/timeline/screen.css" />

<script src="~/Content/ckfinder/ckfinder.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="~/Content/js/timeliner.min.js" type="text/javascript"></script>
<script src="~/Content/js/bootbox.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTablesStaff.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.dataTables.bootstrapStaff.js" type="text/javascript"></script>
@*<script src="~/Content/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.dataTables.bootstrap.js" type="text/javascript"></script>*@
<script src="~/Content/js/date-time/bootstrap-datepicker.min.js" type="text/javascript"></script>

<script src="~/Content/js/jquery.numeric.js" type="text/javascript"></script>
<script src="~/Content/js/fuelux/fuelux.spinner.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.autosize.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.gritter.min.js" type="text/javascript"></script>
<script src="~/Content/js/typeahead-bs2.min.js" type="text/javascript"></script>
<script src="~/Content/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.hotkeys.min.js"></script>
<script src="~/Content/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/Content/js/additional-methods.js"></script>

<script src="~/Content/js/jscrollPanel/jquery.jscrollpane.min.js"></script>
<script src="~/Content/js/jscrollPanel/jquery.mousewheel.js"></script>

@section Breadcrumbs
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li class="active">
                <i class="icon-home home-icon"></i>
                <a href="/Home/Index">Trang chủ</a> | <span>Chi phí khác</span>
            </li>
            <li>
                <span id="breadcrumbsMenu" style="font-weight: bold">Chi phí phát sinh</span>
            </li>
        </ul><!-- .breadcrumb -->
    </div>
}


<div id="bodyChangePass"></div>

@*List all office*@
<div id="tblAddOfficeCost" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 100%; max-width:500px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thêm chi phí
                </div>
            </div>
            <form class="modal-body no-padding" id="addRewardValidateForm">
                <div class="col-sm-12">
                    <div>
                        <br />
                        <div class="form-group" style="margin:0">
                            <label>Tên văn phòng</label><span style="color: red"> *</span>
                            <div>
                                <select id="selectOffice" class="form-control editableInput" name="selectOffice" style="width: 100%"></select><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày mua </label><span style="color: red"> *</span>

                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableInput" id="datePay" name="datePay" readonly="" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer; background: none repeat scroll 0 0 #fff !important" />
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                            <div id="rewardMonthError" style="display: none">
                                <span style="color: red">Chỉ được chọn tháng hiện tại!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Số tiền</label><span style="color: red"> *</span>
                            <div>
                                @*<input id="txtmoneyReward" class=" form-control" name="txtmoneyReward" maxlength="9" />*@
                                <input type="text" id="txtMoney" class=" form-control" name="txtMoney" maxlength="9" onclick='removeMask("#txtMoney")' onblur='    maskMoney("#txtMoney")' />

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ghi chú</label><span style="color: red"> *</span>
                            <div>
                                <input id="txtDescription" class=" form-control" name="txtDescription" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-margin-top">
                </div>
            </form>
            <div class="modal-footer no-margin-top">
                <button class="btn  btn-grey pull-left" type="button" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success" type="button" data-bb-handler="confirm" id="btnAddNewCase" onclick="addNewReward()">
                    <i class="icon-ok"></i>
                    Thêm mới
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@*bảng để hiện view và edit*@
<div id="tblUpdateReward" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 100%; max-width:700px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chi tiết tiền thưởng
                </div>
            </div>

            <form class="modal-body no-padding" id="updateRewardValidateForm">
                <div class="col-sm-12">
                    <div>
                        <br />
                        <div class="form-group">
                            <label>Tên văn phòng</label><span style="color: red"> *</span>
                            <div>
                                <input type="text" id="txtRewardId" style="display: none" />
                                <select id="txtEditName" class="form-control editableInput" name="selectOffice" style="width: 100%"></select><br />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ngày mua</label><span style="color: red"> *</span>
                            <div class="input-group input-group-sm">
                                <input class="form-control date-picker editableSelect" id="txtEditDate" name="datePay" type="text" data-date-format="dd/mm/yyyy" style="width: 100%; cursor: pointer;" />

                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                            <div id="invalidateMonthErrorEdit" style="display: none">
                                <span style="color: red">Chỉ được chọn tháng hiện tại!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Số tiền</label><span style="color: red"> *</span>
                            <div>
                                @*<input type="text" id="txtEditMoney" class="editableInput form-control" name="txtmoneyReward" />*@
                                <input type="text" id="txtEditMoney" class=" editableInput form-control" name="txtMoney" maxlength="9" onclick='removeMask("#txtEditMoney")' onblur='    maskMoney("#txtEditMoney")' />

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label><span style="color: red"> *</span>
                            <div>
                                <input id="editDescription" class=" editableInput form-control" name="txtDescription" maxlength="50" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer no-margin-top">
                </div>
            </form>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-grey pull-left" type="button" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Đóng
                </button>
                <button class="btn btn-success" onclick="updateReward()" style="display:none" id="disablebuttonReward">
                    <i class="icon-ok"></i>
                    Lưu chỉnh sửa
                </button>
                <button class="btn btn-primary" onclick="enablebuttonReward()" id="enablebuttonReward">
                    <i class="icon-edit"></i>
                    Chỉnh Sửa
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@*List all staffgroup*@
<div class="table-responsive" id="divHidden">
    <a href="#tblAddOfficeCost" role="button" class="green" data-toggle="modal">
        <button class="btn btn-primary">
            <i class="icon-plus"></i>
            Thêm chi phí
        </button>
    </a>
    <hr />

    <table id="tblRewardDetail" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th width="30%">Tên văn phòng</th>
                <th width="15%">Ngày mua</th>
                <th width="15%">Số tiền</th>
                <th width="15%">Ghi chú</th>
                <th width="15%"></th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        getAllReward();

    });
 
    function maskMoney(input) {
        var num = $(input).val();
        if (num != "") {
            var str = ("" + num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, function ($1) { return $1 + "." });
            $(input).val(str + " VNĐ");
        }
    }

    function convertToMoney(num) {
        if ("" + num != "") {
            var str = ("" + num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, function ($1) { return $1 + "." });
            str = str + " VNĐ";
            return str;
        }
    }

    function removeMask(input) {
        var num = $(input).val();
        if (num != "") {
            var result = num.replace(" VNĐ", "");
            result = parseInt(result.split(".").join(""));
            return $(input).val(result);
        }
    }
    function getStaffReward() {
        $.post("/Office/GetAllOfficeJson", {}, function (out) {
            var item = '';
            $.each(out, function (index, group) {
                item += '<option value="' + group.OfficeId + '">' + group.OfficeName + '</option>';
            });
            $('#selectOffice').html(item);
            $("#selectOffice").trigger("chosen:updated")
            $('#txtEditName').html(item);
            $('#selectRewardView').html(item);
            $('#selectRewardView').val("");

        });
    }

    function getAllReward() {


        $.post("/OtherCost/getAllOtherCost", function (out) {
            {
                var item = '<tbody>';
                allReward = out;
                $.each(out, function (index, reward) {

                    item += '<tr>';
                    item += '<td><a onClick="getRewardById(' + index + ')" data-toggle="modal" href="#tblUpdateReward">' + reward.Office.OfficeName + '</a></td>';
                    item += '<td>' + convertNETDateTime(reward.Date).toLocaleFormat('%d/%m/%Y') + '</td>';
                    item += '<td>' + convertToMoney(reward.Cost) + '</td>';
                    item += '<td>' + reward.Description + '</td>';
                    item += '<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><center><a onClick="getRewardById(' + index + '); enablebuttonReward()" class="green" title="Chỉnh sửa" data-toggle="modal" href="#tblUpdateReward" data-id="' + index
                        + '"><i class="icon-pencil bigger-130"></i></a><a onClick="deleteReward(' + reward.Id + ')" class="red" title="Xóa" href="#" data-id="' + reward.Id + '"><i class="icon-trash bigger-130"></i></a></center></td>';
                    item += '</tr>';
                });
                item += '</tbody>';
                item = item.split("null").join("");
                $('#tblRewardDetail').html(item);
                $("#tblRewardDetail").dataTable().fnDestroy();
                $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
                var oTableReward = $('#tblRewardDetail').dataTable({
                    "aoColumns": [
                     null, null, null, null, { "bSortable": false }
                    ]
                });
                getStaffReward();
                validateAddReward('#addRewardValidateForm');
                $("#txtMoney").numeric({ decimal: false, negative: false });
                ;
            }
        })
        $('#breadcrumbsMenu').text('Chi phí');
    }
    function addNewReward() {
        if ($('#addRewardValidateForm').valid()) {
            editFr = $('#tblAddOfficeCost');
            var selectOffice = $('#selectOffice option:selected', editFr).val();
            var datePay = $('#datePay', editFr).val();
            //var txtmoneyReward = $('#txtmoneyReward', editFr).val();

            var txtMoney = $("#txtMoney").val().replace("VNĐ", "");
            txtMoney = txtMoney.split(".").join("");

            var txtDescription = $('#txtDescription', editFr).val();
            $.post("/OtherCost/AddReward", {
                selectOffice: selectOffice, datePay: datePay, txtMoney: txtMoney, txtDescription: txtDescription

            }, function (result) {
                $('#rewardMonthError').attr("style", "display: none");
                if (result == "Successful") {
                    getAllReward();
                    $('.close').click();
                    $("body").attr("class", "");

                    notification("Thêm chi phí thành công!", "", 2000, "btn-primary center");
                } else if (result == 'Error') {
                    $('.close').click();
                    notification("Thêm chi phí thưởng thất bại!", "", 3000, "gritter-error center");
                }
                else if (result == "dateinValide") {
                    $('#rewardMonthError').attr("style", "display: block");
                }
            })
                .error(function () {
                    $('.close').click();
                    notification("Thêm tiền thưởng thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                });
        }
    }

    function getRewardById(index) {
        disablebuttonReward();
        editFr = $('#tblUpdateReward');
        $('#txtRewardId', editFr).val(allReward[index].Id);
        $('#txtEditName', editFr).val(allReward[index].Office.OfficeId);
        $("#txtEditName").trigger("chosen:updated");

        var bd = convertNETDateTime(allReward[index].Date).toLocaleFormat('%d/%m/%Y');
        $('#txtEditDate', editFr).val(bd);
        //$('#txtEditMoney', editFr).val(allReward[index].Money);

        var editmoney = convertToMoney(allReward[index].Cost);
        $('#txtEditMoney', editFr).val(editmoney);

        $('#editDescription', editFr).val(allReward[index].Description);

        $('#txtEditDate', editFr).attr("readonly", "readonly");
        $('#txtEditDate', editFr).removeAttr("style");

        $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        validateAddReward('#updateRewardValidateForm');
        $("#txtMoney").numeric({ decimal: false, negative: false });
    }

    function updateReward() {
        if ($('#updateRewardValidateForm').valid()) {
            editFr = $('#tblUpdateReward');
            var txtRewardId = $('#txtRewardId', editFr).val();
            var impressName = $('#txtEditName', editFr).val();
            var impressDate = $('#txtEditDate', editFr).val();
            //var impressMoney = $('#txtEditMoney', editFr).val();
            var impressMoney = $("#txtEditMoney").val().replace("VNĐ", "");
            impressMoney = impressMoney.split(".").join("");

            var impressDes = $('#editDescription', editFr).val();

            disablebuttonReward(); // Chỉnh sửa lần 2
            $.post("/OtherCost/UpdateReward", {
                txtRewardId: txtRewardId, txtEditName: impressName, txtEditDate: impressDate, txtEditMoney: impressMoney, editDescription: impressDes
            }, function (result) {
                $('#invalidateMonthErrorEdit').attr("style", "display: none");
                if (result == "Successful") {
                    $('.close').click();
                    getAllReward();
                    $("body").attr("class", "");
                    notification("Cập nhật chi phí thành công!", "", 2000, "btn-primary center");
                } else if (result == 'Error') {
                    $('.close').click();
                    notification("Cập nhật chi phí ứng thất bại!", "", 3000, "gritter-error center");
                }
                else if (result == "dateinValide") {
                    $('#invalidateMonthErrorEdit').attr("style", "display: block");
                }
            })
                        .error(function () {
                            $('.close').click();
                            notification("Cập nhật tạm ứng thất bại!", "Hãy kiểm tra lại kết nối database.", 3000, "gritter-error center");
                        });
        }
    }

    function deleteReward(id) {
        $(ace.click_event, function () {
            bootbox.confirm("Bạn thực sự muốn thực hiện thao tác này?", function (result) {
                if (result) {
                    $.post("/OtherCost/deleteReward", { txtRewardId: id }
                        , function (result) {
                            if (result == "Successful") {
                                getAllReward();
                                notification("Xóa chi phí thành công!", "", 2000, "btn-primary center");
                            } else if (result == 'Error') {
                                $('.close').click();
                                notification("Xóa chi phí thất bại!", "Tạm ứng này hiện đang được sử dụng!", 3000, "gritter-error center");
                            }
                        })
                        .error(function () {
                            notification("Xóa chi phí thất bại!", "Có lỗi xảy ra trong quá trình xóa!", 3000, "gritter-error center");
                        });
                }
            });
        });
    }

    function validateAddReward(validateform) {
        $(validateform).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                selectOffice: {
                    required: true
                },
                datePay: {
                    required: true
                }
                ,
                txtMoney: {
                    required: true,
                    maxlength: false
                }

            },
            messages: {
                selectOffice: {
                    required: "Chọn một văn phòng!"
                },
                datePay: {
                    required: "Hãy chọn ngày thêm chi phí!",

                },
                txtMoney: {
                    required: "Nhập số tiền!",
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else error.insertAfter(element.parent());
            }
        });
    }

    function disablebuttonReward() {
        editFr = $('#tblUpdateReward');
        $('.editableInput', editFr).attr("disabled", "");
        $('.editableSelect').attr("disabled", "disabled");
        $('#enablebuttonReward').show();
        $('#disablebuttonReward').hide();
    }

    function enablebuttonReward() {
        editFr = $('#tblUpdateReward');
        $('.editableInput', editFr).removeAttr("disabled");
        $('.editableSelect').removeAttr("disabled");
        $('#disablebuttonReward').show();
        $('#enablebuttonReward').hide();
        $('#txtEditDate').attr("readonly", "readonly");
        $('#txtEditDate').attr("style", "background: none repeat scroll 0 0 #fff !important; width: 100%; cursor: pointer")

    }



    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            var oTableReward = $('#tblRewardDetail').dataTable({
                "aoColumns": [
                 null, null, null, null, { "bSortable": false }
                ]
            });

            $('.date-picker').datepicker({ autoclose: true }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('textarea[class*=autosize]').autosize({ append: "\n" });
        })
    </script>






