<div id="staffIdDiv" value="@Session["StaffId"].ToString()" style="display:none"></div>

<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="green" id="notificationArea" style="display: block">

        </li>

        <li class="light-green">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="@Session["Avatar"].ToString()" alt="" />
                <span class="user-info">
                    <small>Xin chào,</small>
                    <p>@Session["StaffName"].ToString()</p>
                </span>

                <i class="icon-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="~/Case/ListCase" onclick="">
                        <i class="icon-folder-open"></i>
                        Danh sách hồ sơ
                    </a>
                </li>

                <li class="divider"></li>

                @if (@Session["RoleId"].ToString() == "1")
                {

                    <li>
                        <a href="~/Customer/Customer" onclick="">
                            <i class="icon-group"></i>
                            Quản lý khách hàng
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="~/Staff/Staff">
                            <i class="icon-user"></i>
                            Quản lý nhân viên
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="~/Service/Service" onclick="">
                            <i class="icon-cog"></i>
                            Quản lý dịch vụ
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="~/Office/Office">
                            <i class="icon-home"></i>
                            Quản lý văn phòng
                        </a>
                    </li>
                    //<li class="divider"></li>
                    /*<li>
                        <a href="~/Salary/Salary">
                            <i class=" icon-globe"></i>
                            Quản lí lương nhân viên
                        </a>
                    </li>*/
                    <li class="divider"></li>
                    <li>
                        <a href="~/Statistic/Statistic">
                            <i class="icon-home"></i>
                            Thống kê
                        </a>
                    </li>
                     <li class="divider"></li>
                    <li>
                        <a href="~/OtherCost/OtherCost">
                            <i class="icon-cog"></i>
                            Chi phí khác
                        </a>
                    </li>

                    <li class="divider"></li>
                }

                <li>
                    <a data-toggle="modal" href="#tblPassChange" onclick='$("#PassChangeDiv").appendTo("#bodyChangePass"); validatePassword("#validatPassForm"); clearFieldPassword();'>
                        <i class="icon-key"></i>
                        Đổi mật khẩu
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="#" onclick="logOut()">
                        <i class="icon-off"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.ace-nav -->
</div><!-- /.navbar-header -->

<script>
    $(document).ready(function () {
        GetCalendarsByStaffId();
    });

    function GetCalendarsByStaffId() {
        $.post("/UserControl/GetCalendarsByStaffId", { staffId: $("#staffIdDiv").attr("value") }, function (out) {
            var item = '<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-bell-alt" id="bellIcon"></i><span class="badge badge-success" id="countCalender1"></span></a>';
            item += '<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close"><li class="dropdown-header"><i class="icon-calendar"></i>Hôm nay có <span id="countCalender2"></span> sự kiện</li>';
            var count = 0;

            $.each(out, function (index, ca) {
                var casecode = "";
                var priority;
                if (typeof (ca.Case) != "undefined") {
                    casecode = " (" + ca.Case.CaseCode + ")";
                    priority = "";
                } else priority = ca.Priority;
                count += 1;

                item += '<li><a>';
                item += '<span class="label label-lg ' + priority + '" style="margin-right: 10px"><i class="icon-info-sign"></i></span>';
                item += '<span class="msg-body">';
                item += '<span class="msg-title" style="font-weight: bold">' + ca.Title + casecode + '</span>';

                var date1 = convertNETDateTime(ca.BeginTime).toLocaleFormat('%d/%m/%Y');
                var time1 = convertNETDateTime(ca.BeginTime).toLocaleTimeString();
                var date2 = convertNETDateTime(ca.EndTime).toLocaleFormat('%d/%m/%Y');
                var time2 = convertNETDateTime(ca.EndTime).toLocaleTimeString();

                if (date1 == date2) {
                    if (time1 == "12:00:00 AM" && time2 == "12:00:00 AM") {
                        item += '<span class="msg-time"><span>Cả ngày</span></span>';
                    } else {
                        item += '<span class="msg-time"><span> Bắt đầu: ' + time1 + '</span></span>';
                        item += '<span class="msg-time"><span> Kết thúc: ' + time2 + '</span></span>';
                    }
                } else {
                    item += '<span class="msg-time"><span> Từ ngày: ' + date1 + '</span></span>';
                    item += '<span class="msg-time"><span> Đến ngày: ' + date2 + '</span></span>';
                }

                item += '</span>'; // span body
                item += '</a></li>';
            });

            item += '<li></li></ul>';
            $('#notificationArea').html(item);
            $('#countCalender1').text(count);
            $('#countCalender2').text(count);

            if (count != 0) {
                $('#countCalender1').attr('class', 'badge badge-important');
                $('#bellIcon').attr('class', 'icon-bell-alt icon-animated-bell');
            }
        });
    }

</script>

<div id="PassChangeDiv">
    <div id="tblPassChange" class="modal fade" tabindex="-1">
        <div class="modal-dialog" style="width: 100%; min-width: 600px; max-width: 600px">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>
                        Thay đổi mật khẩu
                    </div>
                </div>
                <form class="modal-body no-padding" id="validatPassForm">
                    <div class="modal-body no-padding">
                        <div class="col-xs-12 form-horizontal" style="padding-top: 20px; margin-left: 10px">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 ">Mật khẩu cũ: <span style="color: red"> *</span></label>
                                    <div class="col-sm-8">
                                        @*  <input type="text" id="detailStaffId" style=" display: none" class="col-xs-10 col-sm-5" />*@
                                        <div>
                                            <input type="password" name="Oldpassword" id="Oldpassword" style="width:100%" />
                                        </div>
                                        <div id="checkPass" style="display: none">
                                            <span style="color: #D16E6C">Mật khẩu cũ không đúng ! </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 ">Mật khẩu mới: <span style="color: red"> *</span></label>
                                    <div class="col-sm-8">
                                        <div>
                                            <input type="password" name="password" id="password" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 ">Lặp lại mật khẩu mới: <span style="color: red"> *</span></label>
                                    <div class="col-sm-8">
                                        <div>
                                            <input type="password" name="password2" id="password2" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-footer no-margin-top"></div>
                <div class="modal-footer no-margin-top">
                    <button class="btn btn-grey pull-left" type="button" data-dismiss="modal" id="btnCloseChange">
                        <i class="icon-remove"></i>
                        Đóng
                    </button>
                    <button class="btn btn-success" type="button" data-bb-handler="confirm" id="btnUpdatePass" onclick="updateStaffPass()">
                        <i class="icon-ok"></i>
                        Đổi mật khẩu
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<script type="text/javascript">
    function updateStaffPass() {
        if ($('#validatPassForm').valid()) {
            editFr = $('#tblPassChange');
            var oldPassword = $.md5($('#Oldpassword', editFr).val());
            var staffPassword = $.md5($('#password2', editFr).val());
            $.post("/UserControl/UpdateStaffPass", {
                oldPassword: oldPassword, staffPassword2: staffPassword
            }, function (result) {
                if (result == "successful") {
                    $('.close').click();
                    $('#checkPass').attr("style", "display: none");
                    notification("Cập nhật mật khẩu nhân viên thành công!", "", 3000, "btn-primary center");
                } else if (result == 'error') {
                    $('.close').click();
                    $('#checkPass').attr("style", "display: none");
                    notification("Cập nhật mật khẩu nhân viên nhân viên thất bại!", "Hãy kiểm tra lại kết nối database.", 5000, "gritter-error center");
                } else if (result == "notMatch") {
                    $('#checkPass').attr("style", "display: block");
                }
            })
                .error(function () {
                    $('.close').click();
                    $('#checkPass').attr("style", "display: none");
                    notification("Cập nhật mật khẩu nhân viên thất bại", "Hãy kiểm tra lại kết nối database.", 5000, "gritter-error center");
                });
        }
    }

    function validatePassword(validateform) {
        $(validateform).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                password: {
                    required: true,
                    alphanumeric: true,
                    minlength: 6


                },
                password2: {
                    required: true,
                    alphanumeric: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                Oldpassword: {
                    required: true,
                    alphanumeric: true
                }
            },
            messages: {
                password: {
                    required: "Hãy nhập mật khẩu mới.",
                    alphanumeric: "Mật khẩu không được có kí tự đặc biệt",
                    minlength: "Mật khẩu mới phải có ít nhất 6 kí tự.",
                },
                password2: {
                    required: "Hãy nhập lại mật khẩu mới.",
                    alphanumeric: "Mật khẩu không được có kí tự đặc biệt",
                    minlength: "Mật khẩu mới phải có ít nhất 6 kí tự.",
                    equalTo: "Mật khẩu 2 không trùng khớp.",
                },
                Oldpassword: {
                    required: "Hãy nhập lại mật khẩu cũ.",
                    alphanumeric: "Mật khẩu không được có kí tự đặc biệt",
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else error.insertAfter(element.parent());
            }
        });
    }

    function clearFieldPassword() {
        editFr = $('#tblPassChange');
        $('#Oldpassword', editFr).val("");
        $('#password', editFr).val("");
        $('#password2', editFr).val("");

    }

    function logOut() {
        $.post("/Login/LogOut", {}, function (out) {
            if (out != "success") {
                alert(out);
            }
            window.location = ("/Login/Login");
        });
    }
</script>
