<div class="widget-box transparent">
    <div class="widget-header">
        <div class="" id="breadcrumbs">
            <ul class="breadcrumb">
                <li style="color: #4C8FBD; font-weight: bold">Hồ sơ
                </li>
                <li>
                    <span id="tittleEvent" style="font-weight: bold"></span>
                </li>
                <li style="color: #4C8FBD">
                    <span id="tittleday" style="font-weight: bold"></span>
                </li>
            </ul>
        </div>
        <div class="widget-toolbar no-border">
            <ul class="nav nav-tabs">
                <li id="sktnLi" class="">
                    <a onclick='showTabEvent("sktn")' href="#">Sự kiện tác nghiệp</a>
                </li>
                <li class="active" id="qdlsLi">
                    <a onclick='showTabEvent("qdls")' style="font-weight: bold" href="#">Quan điểm luật sư</a>
                </li>



            </ul>
        </div>
    </div>


    <div class="widget-body">
        <div class="space-6"></div>
        <div id="tabQDLSDiv">
            <h3 class="header smaller lighter green">
                <span data-rel="tooltip" data-original-title="Sửa quan điểm luật sư" title="Sửa quan điểm luật sư" class="tooltip-info">
                    <i id="editViewpoint" class="icon-edit bigger-160" onclick="setActiveComponentViewpoint()" style="cursor: pointer"></i>
                </span>
                Quan điểm luật sư
            </h3>

            <div class="row" style="margin: 20px auto 20px 100px">
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <label>Mục tiêu bảo vệ</label>
                        <textarea id="txtProtectiveGoal" class="autosize-transition form-control" style="resize: none" disabled></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>Phần thủ tục bắt đầu</label>
                        <textarea id="txtOpeningProcedure" class="autosize-transition form-control" style="resize: none" disabled></textarea>
                    </div>
                </div>

                <div class="col-sm-10 space"></div>

                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <label>Phần thủ tục xét hỏi</label>
                        <textarea id="txtInquiryProcedure" class="autosize-transition form-control" style="resize: none" disabled></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>Phần tranh luận</label>
                        <textarea id="txtArgumentProcedure" class="autosize-transition form-control" style="resize: none" disabled></textarea>
                    </div>
                </div>

                <div class="col-sm-10 space"></div>

                <div class="col-sm-10" align="right" id="divButtonUpdateViewpoint" style="display: none">
                    <button id="btnCancelUpdateViewpoint" class="btn btn-grey" type="button" onclick="cancelUpdateViewpoint()">
                        <i class="icon-remove"></i>
                        Hủy chỉnh sửa
                    </button>
                    <button id="btnUpdateViewpoint" class="btn btn-success" type="button" onclick="updateViewpoint()">
                        <i class="icon-ok"></i>
                        Lưu chỉnh sửa
                    </button>
                </div>
            </div>
        </div>
        @*====================================================================================================================*@
        <div id="tabSKTNDiv" style="display: none">
            <h3 class="header smaller lighter green">
                <span data-rel="tooltip" title="Sửa sự kiện tác nghiệp" class="tooltip-info">
                    <i id="editEventi" class="icon-edit bigger-160" onclick="editableEvent()" style="cursor: pointer"></i>
                </span>
                Sự kiện tác nghiệp
            </h3>
            <div id="successDiv">
                <button style="display: none" id="addEventBtn" class="blue btn btn-primary" onclick="addEvent()">
                    <i class="icon-plus"></i>
                    Thêm sự kiện
                </button>

                <button style="float: right; display: none" id="successBtn" class="invoiceTd blue btn btn-success" onclick="successEditEvent()">
                    <i class="icon-ok"></i>
                    Hoàn Thành
                </button>
            </div>
            <div id="newEventDiv" class="timeline" style="width: 80%;">
                <div id="titleEventInputDiv" style="width: 45%; display: none">
                    <input style="width: 100%; font-size: 20px; height: 35px; margin-bottom: 10px;" maxlength="100" placeholder="Tiêu đề sự kiện..." id="titleEventInput" type="text" />
                </div>
                <div id="newEditorDiv" style="display: none">
                </div>
            </div>
            <div class="timeline">
                <div class="timelineContainer" id="timelineEvent">
                    <div class="timelineToggle">
                        <p><a class="expandAll">+ expandAll</a></p>
                    </div>
                </div>
            </div>






            <div id="editDiv" style="display: none; margin: 5px">
                <button id="closeBtn" type="button" class="btn btn-default pull-left" style="float: left; width: 100px">
                    @*<i class="icon-remove"></i>*@
                    Đóng
                </button>
                <button class="blue btn btn-success" id="saveBtn" style="float: right;">
                    @*<i class="icon-ok"></i>*@
                    Lưu chỉnh sửa
                </button>
            </div>

            <div class="input-group input-group-sm" style="display: none; margin-bottom: 10px; width: 45%" id="eventDatepickerDiv">
                <div>
                    <input style="font-size: 20px; cursor: pointer; background: none repeat scroll 0 0 #fff !important" readonly="" class="form-control" placeholder="Thời gian sự kiện..." id="datePickerEvent" type="text" />
                </div>
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
</div>
