<div class="row">
    <div class="col-sm-4">
        <h3 class="header smaller lighter green">
            <span data-rel="tooltip" title="Sửa chi tiết hồ sơ" class="tooltip-info">
                <i class="icon-edit bigger-160" onclick="setActiveComponent()" style="cursor: pointer"></i>
            </span>
            Thông tin chung
        </h3>

        <div>
            <div style="height:90px">
            <label>Mã hồ sơ</label>
            <input type="text" id="txtCaseCode" class="col-xs-10 col-sm-4" style="width: 100%; cursor: not-allowed" disabled />
                </div>
            <hr />
            <div style="height:90px">
            <label>Thuộc văn phòng</label><span style="color: red"> *</span>
            <select class="form-control" id="cboOffice" disabled></select>
                </div>
            <hr />
            <div style="height:70px">
            <label>Ngày thụ lý</label><span style="color: red"> *</span>
            <div class="input-group input-group-sm">
                <input class="form-control date-picker" id="datePickerReceiptDate" type="text" data-date-format="dd/mm/yyyy" />
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
            </div>
                </div>
            <hr />
            <label>Trạng thái</label><span style="color: red"> *</span>
            <select class="form-control" id="cboStatus">
                <option value="1">Đang thụ lý</option>
                <option value="2">Đã thụ lý</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <h3 class="header smaller lighter green" style="margin-top: 25px">
            Nội dung
        </h3>

        <div>
            <div style="height:90px">
            <form class="modal-body no-padding" id="updateDetailValidateForm">
                <div class="form-group" style="margin-bottom: 0px">
                    <label>Nội dung tranh chấp</label><span style="color: red"> *</span>
                    <div>
                        <textarea id="txtCaseContent" name="txtCaseContent" class="autosize-transition form-control" style="resize: none"></textarea>
                    </div>
                </div>
            </form>
                </div>
            <hr />
            <div style="height:90px">
            <label>Đối tượng tranh chấp</label>
            <textarea id="txtDisputeSubject" class="autosize-transition form-control" style="resize:none; overflow: scroll !important; height:50px !important;"></textarea>
                </div>
            <hr />
            <div style="height:70px">
            <label>Quan hệ tranh chấp</label>
            <textarea id="txtDisputeRelation" class="autosize-transition form-control" style="resize: none;  overflow: scroll !important; height:50px !important;"></textarea>
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h3 class="header smaller lighter green" style="margin-top: 25px">
            Thông tin khác
        </h3>

        <div>
            <div style="height:90px">
            <label>Thời hiệu</label>
            <textarea id="txtLimitationStatute" class="autosize-transition form-control" style="resize: none"></textarea>
                </div>
            <hr />
            <div style="height:90px">
            <label>Sự kiện pháp lý</label>
            <textarea id="txtLegalEvent" class="autosize-transition form-control" style="resize: none"></textarea>
                </div>
            <hr />
            <label>Yếu tố lỗi</label>
            <textarea id="txtErrorFactor" class="autosize-transition form-control" style="resize: none"></textarea>
        </div>
    </div>
</div>

<hr/>

<div class="row" align="right">
    <div class="col-sm-12">
        <button id="btnCancelUpdateCaseDetail" class="btn btn-grey" type="button" onclick="cancelUpdateCaseDetail()">
            <i class="icon-remove"></i>
            Hủy chỉnh sửa
        </button>
        <button id="btnUpdateCaseDetail" class="btn btn-success" type="button" onclick="updateCaseDetail()">
            <i class="icon-ok"></i>
            Lưu chỉnh sửa
        </button>
    </div>
</div>