.myparagraph {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}
.daterangepicker {
    z-index:9999 !important;

}

div.success {
    background-color: dodgerblue;
    color: white;
    font-size: 16pt;
    opacity: 0.6;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    top: 95px;
    right: 20px;
    z-index: 5;
    margin: auto;
    padding-top: 6px;
}

    div.success > div.opacity1 {
        opacity: 1;
    }

        div.success > div.opacity1 > p {
            padding-top: 0px;
        }

div.error {
    background-color: red;
    color: white;
    font-size: 16pt;
    opacity: 0.6;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    top: 95px;
    right: 20px;
    z-index: 5;
    margin: auto;
    padding-top: 6px;
}

    div.error > div.opacity1 {
        opacity: 1;
    }

        div.error > div.opacity1 > p {
            padding-top: 0px;
        }

.closeDivisor {
    text-decoration: none;
    color: white;
    font-size: 16pt;
}

.chosen-single {
    background: none repeat scroll 0 0 #fff !important;
}

#searchContent {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 600px !important;
    min-height: 600px !important;
    float: right;
    list-style: none outside none;
    min-width: 400px;
    position: absolute;
    z-index: 1000;
}

#searchtvplContent {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 900px !important;
    min-height: 600px !important;
    float: right;
    list-style: none outside none;
    position: absolute;
    z-index: 1000;
}

.info-blue {
    color: #1877AB;
}



.nqTitle a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

    .nqTitle a:hover {
        color: blue;
        text-decoration: underline;
    }



.nq {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-left: 8px;
    text-align: left;
    width: 525px;
}


    .nq p {
        line-height: 18px;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

.nqContent {
    color: #000000;
    font-size: 11px;
    font-weight: normal;
}

.links-bot {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

    .links-bot a {
        color: #003F7A;
        padding-left: 3px;
        padding-right: 3px;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
    }

        .links-bot a:hover {
            color: #F15A22;
            text-decoration: none;
        }

    .links-bot img {
        vertical-align: inherit;
    }

.right-col {
    float: right;
    font-size: 11px;
    width: 122px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}


.left-col {
    float: left;
    margin: 0;
    padding: 0;
    width: 565px;
}

.right-col p {
    line-height: 130%;
}

#block-info-advan div p {
    line-height: 130%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.title-right {
    background-image: url("/../Content/css/images/title-right.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #076DA5;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px !important;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#divCategory {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}


#tree, #tree ul {
    font-size: 11px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}



    #tree li {
        background: url("/../Content/css/images/treeview-default-line.gif") no-repeat scroll 0 0 transparent;
        margin: 0;
        line-height: 130%;
        padding: 3px 0 3px 16px;
    }

        #tree li a {
            color: #000000;
            cursor: pointer;
            text-decoration: none;
        }

            #tree li a:hover {
                color: #F79A18;
                text-decoration: underline;
            }

.content-0 {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 8px 0;
}


.content-1 {
    background: none repeat scroll 0 0 #FFFCF4;
    clear: both;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 8px 0;
}

.number {
    background-image: url("/../Content/css/images/bg-number.gif");
    background-repeat: no-repeat;
    color: #F15A22;
    float: left;
    font-size: 12px;
    line-height: 130%;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    width: 24px;
    margin: 0;
        margin-left: 5px;

    padding-left: 0;
    padding-right: 0;
}

.info-red {
    color: #FF0000;
    font-size: 13px;
}


.nqTitle a em {
    background: none repeat scroll 0 0 yellow;
    font-style: normal;
    font-weight: bold;
}


.nqContent em, .nqContent b {
    background: none repeat scroll 0 0 yellow;
    font-style: normal;
    font-weight: bold;
}

#dhtmltooltip {
    background-color: lightyellow;
    border: 1px solid black;
    left: -300px;
    padding: 5px;
    position: absolute;
    visibility: hidden;
    width: 150px;
    z-index: 2000;
}

#dhtmlpointer {
    left: -300px;
    position: absolute;
    visibility: hidden;
    z-index: 2000;
}


.cmPager {
    line-height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
  margin: 0;
    padding-left: 0;
    padding-right: 0;
}


.cmPager a {
    border: 1px solid #DCD1CB;
    color: #333333;
    overflow: hidden;
    padding: 4px 6px;
     cursor: pointer;
      margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.cmPager b {
    color: Red;
}
div.posttext {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 4px;
    text-align: justify;

}